header.z-depth-1
    h1 next-train.london
    include ../search/search

nav
    a.waves-effect.waves-light.btn(href="/") Home
    //a.waves-effect.waves-light.btn(href="/search") - Search -
    a.waves-effect.waves-light.btn(href="/about") About
