header {

  z-index: 1;
  border-bottom: 1px solid #B8B8B8;
  position: relative;
  margin: 0 0 1em 0;
  padding: 1em;
  height: 6em;
  @media (min-width: 500px) {
    height: 3em;
  }
  background-color: rgba(255, 255, 255, .95);
  //border-radius: 5px


  h1 a {

    color: #2d2a81;
    top: .6em;
    padding: 0 0;
    line-height: 1em;
    position: relative;
  }


  form.search {

    top: 3em;
    position: relative;
    text-align: center;
    @media (min-width: 500px) {
        text-align: left;
        margin-left: 1em;
        top: 1.4em;
        right: 0;
        display: inline-block;
        margin-right: 1em;
        position: absolute;
    }
    @media (min-width: 800px) {
      margin-right: 20%;
    }
  }
}
