$border-color: #B8B8B8;
$porder-pixels: 2;

@font-face {
  font-family: 'Erbos';
  src: url("/fonts/7LED.ttf");
}
$shade:red;


@font-face {
  font-family: 'london_tubenormal';
  src: url("/fonts/london-tube-webfont.eot");
  src: url("/fonts/london-tube-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/london-tube-webfont.ttf") format("truetype"), url("/fonts/london-tube-webfont.svg#london_tubenormal") format("svg");
  font-weight: normal;
  font-style: normal;
}



.shade {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,247,250,1) 7%, rgba(255,255,255,1) 21%, rgba(247,247,247,1) 78%, rgba(247,247,247,1) 89%, rgba(247,244,247,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(7%, rgba(250,247,250,1)), color-stop(21%, rgba(255,255,255,1)), color-stop(78%, rgba(247,247,247,1)), color-stop(89%, rgba(247,247,247,1)), color-stop(100%, rgba(247,244,247,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,247,250,1) 7%, rgba(255,255,255,1) 21%, rgba(247,247,247,1) 78%, rgba(247,247,247,1) 89%, rgba(247,244,247,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,247,250,1) 7%, rgba(255,255,255,1) 21%, rgba(247,247,247,1) 78%, rgba(247,247,247,1) 89%, rgba(247,244,247,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,247,250,1) 7%, rgba(255,255,255,1) 21%, rgba(247,247,247,1) 78%, rgba(247,247,247,1) 89%, rgba(247,244,247,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,247,250,1) 7%, rgba(255,255,255,1) 21%, rgba(247,247,247,1) 78%, rgba(247,247,247,1) 89%, rgba(247,244,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f4f7', GradientType=0 );
}







.error {
  display: none;
}






[data-page='home'] a.home,
#about.page a.info,
#search.page a.search {
    border-color: transparent;
    background-color: transparent;
    cursor: default;
}




html body a {
    position: relative;
    text-decoration: none;

}
html body {
    /**
   * Fixes an ios issue where you cannot use negative z index, should really only work on the body.
   */
  -webkit-transform:  translate3d(0, 0, 2000px);

  -webkit-perspective: 1000px;
  position: relative;
  z-index: 1000;
  height:0;
  background:rgba(247, 245, 245, 0.68);

  #content {
    transition: all .6s;
    top: 6em;
    min-width: 100%;
    margin: 1em 20% 0 0;
    position: absolute;
      // &.hide {
      //   opacity: 0.1;
      // }
    &.hideTop {
      top: -10em;
      height: 0;
    }
  }
  transform-style: preserve-3d;
  @media (min-width: 800px) {
    #floater {
      margin-left: 20%;
      margin-right: 20%;
    }
    h1,
    nav {
     margin-left:20% !important;
    }


      
      div.settings {
          margin: 0 20%;
      }
      div.settings {
        //margin-top: 1em;
      }
      h1 {
      }
      //margin: 0 20%;
  }
}
body {
  background-color: rgba(221, 77, 77, 0.76);
  font-size: 126px;
}

.raised {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

h1 {
  display: inline;
}

.notice {
  background: #C8D4F2;
  padding: 1em;
  border: 1px solid rgb(166, 176, 228);
  text-align: center;
  margin: 3em 20% 1em 20%;
  font-size: 1em;
  a {
    font-size: 1em;
  }

}

@import "../station/station.scss";
@import "../about/about.scss";

@import "../../components/header/header.scss";
@import "../../components/search/search.scss";


@import "./materialize/sass/materialize.scss";
