$border-color: #B8B8B8;
$porder-pixels: 2;



@font-face {
  font-family: 'Erbos';
  src: url("/fonts/7LED.ttf");
}

@font-face {
  font-family: 'london_tubenormal';
  src: url("/fonts/london-tube-webfont.eot");
  src: url("/fonts/london-tube-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/london-tube-webfont.woff") format("woff"), url("/fonts/london-tube-webfont.ttf") format("truetype"), url("/fonts/london-tube-webfont.svg#london_tubenormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

html body header {
  height: 4em;
  border-bottom: 1px solid #B8B8B8;
  position: relative;
  background: rgba(255,255,255,.95);
  margin:  0 0;
  padding: 1em 20%;
  z-index: 99999;
  //border-radius: 5px

}


nav {
  a {
    top:13px;
    margin: 0 .2em .2em 0;
    height: 34px;
    width: 34px;
    display: block;
    transition: height 2s;
    background-repeat: no-repeat;
    //transform: rotate(30deg);
    content: "";
    display: inline-block;
    text-indent: -10000em;
    background-color: #eee;
    border-radius: .1em;
    border: 1px solid #c8c8c8;
    background-position: 5px 5px;
    // transition-property: top,  height;
    // transition-duration: 1s;
    transition: all 1s;
    &:hover {
      background-color: #fff;
      border: 1px solid#222;
    }
  }
}

.error {
  display: none;
}






a.home {
  background-image: url('https://cdn2.iconfinder.com/data/icons/picons-basic-1/57/basic1-007_house_home-24.png');
}
a.search {
  background-image: url('https://cdn2.iconfinder.com/data/icons/picons-basic-1/57/basic1-015_search_zoom_find-24.png');
}
a.info {
  background-image: url('https://cdn2.iconfinder.com/data/icons/picons-basic-1/57/basic1-125_information-24.png'); 
}



#home.page a.home,
#about.page a.info,
#search.page a.search {
    border-color: transparent;
    background-color: transparent;
    cursor: default;
}






html body a {
    position: relative;
    text-decoration: none;

}
.page {
  position: relative;
  z-index: 1000;
  height:0;
    #content {
    transition: all 2s;
    top: 6em;
    min-width: 100%;
    margin: 1em 20% 0 0;
    position: absolute;
      &.hideTop {
        top: -10em;
        height: 0;
      }
    }
    transform-style: preserve-3d;
    @media (min-width: 800px) {
      #floater {
        margin: 9em 20% auto 20%
      }



        
        div.settings {
            margin: 0 20%;
        }
        div.settings {
          //margin-top: 1em;
        }
        h1 {
        }
        //margin: 0 20%;
    }
}
body {
  background-color: rgba(221, 77, 77, 0.76);
  font-size: 126px;
}




@import "../home/home.scss";
@import "../station/station.scss";
@import "../about/about.scss";