

@mixin large-label() {

    background: white;
    border: 2px solid #222;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 25px;

    &.right {
      border-left: 20px solid green !important;
    }
    &.left {
      border-right: 20px solid green !important;
    }
    &.above {
     border-bottom: 20px solid green !important; 
    }
    &.below {
     border-top: 20px solid green !important; 
    }
    color: #1c3f95;
    font-weight: bold;
    position: relative;
    font-size: 4em;
    box-shadow: rgba(129, 122, 145, 0.84) 0.1em 0.1em 40px;
    opacity: 1;
    br {
        display: none;
    }
}

#map-container{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    li {
        a, strong {
            text-decoration: none;
            color: #1c3f95;
            font-size: 1em;
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;

            opacity: 0;
            &.boxed {
                border: 0;
            }

        }
    }

    .roundel:hover a,
    .station:hover a,
    .roundel:hover strong,
    .station:hover strong {
        opacity: 0.3;
        z-index: 4000;
    }

    &[data-station=EPP] {
        top: 11px;
        left: -3230px;
        .EPP {
            a {
                @include large-label();
                margin-left: -3em;
                left: -1.3em;
            }
        }
    }

    &[data-station=THB] {
        top: -38px;
        left: -3030px;
        .THB {
            a {
                @include large-label();
                margin-left: -5.5em;
                left: -2em;
            }
        }
    }


    &[data-station=DEB] {
        top: -84px;
        left: -3200px;
        .DEB {
            a {
                @include large-label();
                margin-left: -3.6em;
                left: -1.2em;
            }
        }
    }


    &[data-station=LTN] {
        top: -130px;
        left: -3148px;
        .LTN {
            a {
                @include large-label();
                left: -1.5em;
                margin-left: -4.1em;
            }
        }
    }


    &[data-station=BHL] {
        top: -176px;
        left: -2983px;
        .BHL {
            a {
                @include large-label();
                left: -2em;
                margin-left: -6em;
            }
        }
    }

    &[data-station=WFD] {
        top: -345px;
        left: -3119px;
        .WFD {
            a {
                @include large-label();
                margin-left: -4.5em;
                left: -1.5em;

            }
        }
    }

    &[data-station=SWF] {
        top: -402px;
        left: -2930px;
        .SWF {
            a {
                @include large-label();
                margin-left: -7em;
                left: -2em;

            }
        }
    }


    &[data-station=SNB] {
        top: -457px;
        left: -3057px;
        .SNB {
            a {
                @include large-label();
                margin-left: -5em;
                left: -2em;
            }
        }
    }



    &[data-station=LYS] {
        top: -621px;
        left: -3042px;
        .LYS {
            a {
                @include large-label();
                margin-left: -5em;
                left: -2.1em;
            }
        }
    }


    &[data-station=LEY] {
        top: -744px;
        left: -3225px;
        .LEY {
            a {
                @include large-label();
                margin-left: -3.4em;
                left: -1em;
            }
        }
    }


    &[data-station=SFD] {
        top: -872px;
        left: -3436px;
        .SFD {
            a {
                @include large-label();
                left: 0.4em;
            }
        }
    }




    &[data-station=MLE] {
        top: -1008px;
        left: -2945px;
        .MLE {
            a {
                @include large-label();
                position: inherit;
                width: 4.2em;
                vertical-align: bottom;
                margin-top: -1.23em;
                margin-left: -2.6em;
            }
        }
    }



    &[data-station=BNG] {
        top: -1087px;
        left: -2614px;
        .BNG {
            a {
                @include large-label();
                margin-left: -3.6em;
                top: -1.2em;
            }
        }
    }


    &[data-station=LST] {
        top: -1086px;
        left: -2550px;
        .LST {
            a {
                @include large-label();
                left: 0em;
                margin-left: -1.8em;
                top: -1.3em;
            }
        }
    }

















    &[data-station=CHG] {
        top: -200px;
        left: -3529px;

        #cen042 {
            top: 271px;
            left: 3581px;
            height: 58px;
        }
        .CHG {
            strong {
                @include large-label();
                top:  -50px;
            }
        }
    }
    &[data-station=ROD] {
        top: -206px;
        left: -3458px;
        .ROD {
            a {
                br {
                    display: none;
                }
                @include large-label();
                top:  -95px;
                margin-left: 50px;
            }
        }
    }


}


#central .station {
    z-index: 30;
}

@media (min-width: 800px) {
    #map-container  {
        margin-left: 20%;
    }
}
.roundel a, .station a,
.roundel strong, .station strong{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 1em;
}


.links li, #ove042.roundel.disabled{
    z-index: 20 !important;
}
#lin029 {
    display: none;
}
