
head
    link(rel="stylesheet", type="text/css", href="/css/shared.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

body
    #floater
        .container
            include ../components/next-train/next-train.jade
            //include ../components/train-status/train-status.jade
            //include ../components/next-bus/next-bus.jade
    include ../components/tubes/tubes.jade
    script(src='/libs/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/shared.js')

    #placement