
head
    link(rel="stylesheet", type="text/css", href="/pages/css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

body
    include ../components/floater/floater.jade
    include ../components/tubes/tubes.jade
    script(src='/libs/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/pages/js/bundle.js')

    #placement