@font-face {
  font-family: 'Erbos';
  src: url('/fonts/7LED.ttf'); }

@font-face {
  font-family: 'GreyscaleBasic';
  src: url('/fonts/Greyscale_Basic_Regular.ttf'); }

body {
  background: #eee;
  font-size: 16px; }
  body .widget {
    margin: 0.5em 0.1em;
    padding: 1em;
    font-family: 'GreyscaleBasic';
    border-radius: 3px;
    background: #fff;
    border: 1px solid #BDBDBD;
    vertical-align: top;
    border-radius: 3px;
    color: #838383;
    position: relative; }
    body .widget h2 {
      margin-top: 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px; }
    body .widget h3 {
      font-size: 1em; }

@media (min-width: 800px) {
  html body .widget {
    margin: 1em 20%; } }

.direction {
  vertical-align: top; }
  .direction ul.trains {
    padding: 0; }
    .direction ul.trains li {
      list-style: none;
      margin: 1em 0; }
      .direction ul.trains li .detail {
        display: none; }
      .direction ul.trains li span.destination {
        font-size: 0.9em; }
      .direction ul.trains li .due-container {
        display: inline-block;
        width: 80px;
        text-align: right; }
        .direction ul.trains li .due-container .due {
          text-align: right;
          margin-right: 10px;
          font-family: 'Erbos';
          display: inline-block;
          line-height: 15px;
          border-right: 1px solid white !important;
          color: #fff;
          background: #6ca062; }

@media (min-width: 400px) {
  .direction {
    width: 50%;
    display: inline-block; } }

#tflStatus small {
  margin-left: 40px;
  padding: 2em; }
#tflStatus ul {
  padding: 0; }
  #tflStatus ul li.line {
    margin: 20px;
    line-height: 1.4;
    margin: 1em;
    padding: 0 1em 1em 1em;
    border-radius: 4px; }
    #tflStatus ul li.line.Central {
      border: 1px solid #DC241F; }
    #tflStatus ul li.line.Bakerloo {
      border: 1px solid #894E24; }
    #tflStatus ul li.line.Circle {
      border: 1px solid #FFCE00; }
    #tflStatus ul li.line.District {
      border: 1px solid #007229; }
    #tflStatus ul li.line.HammersmithandCity {
      border: 1px solid #D799AF; }
    #tflStatus ul li.line.Jubilee {
      border: 1px solid #868F98; }
    #tflStatus ul li.line.Metropolitan {
      border: 1px solid #751056; }
    #tflStatus ul li.line.Northern {
      border: 1px solid #000000; }
    #tflStatus ul li.line.Piccadilly {
      border: 1px solid #0019A8; }
    #tflStatus ul li.line.Victoria {
      border: 1px solid #00A0E2; }
    #tflStatus ul li.line.WaterlooandCity {
      border: 1px solid #76D0BD; }
    #tflStatus ul li.line.Overground {
      border: 1px solid #894E24; }
    #tflStatus ul li.line.DLR {
      border: 1px solid #00AFAD; }
