body {
  background: #eee;
  font-size: 16px; }

@font-face {
  font-family: 'Erbos';
  src: url('/fonts/7LED.ttf'); }

@font-face {
  font-family: 'GreyscaleBasic';
  src: url('/fonts/Greyscale_Basic_Regular.ttf'); }

.widget {
  margin: 0.5em 0.1em;
  padding: 1em;
  font-family: 'GreyscaleBasic';
  border-radius: 3px;
  background: #fff;
  border: 1px solid #BDBDBD;
  vertical-align: top;
  border-radius: 3px;
  color: #838383;
  position: relative; }
  .widget h2 {
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px; }
  .widget h3 {
    font-size: 1em; }

.due-container {
  display: inline-block;
  width: 80px;
  text-align: right; }

ul.trains {
  padding: 0; }

.trains li {
  list-style: none;
  margin: 1em 0; }
  .trains li span.destination {
    font-size: 0.9em; }

html body .widget .due {
  text-align: right;
  margin-right: 10px;
  font-family: 'Erbos';
  display: inline-block;
  line-height: 15px;
  border-right: 1px solid white !important;
  color: #fff;
  background: #6ca062; }

.direction {
  vertical-align: top; }

.detail {
  display: none; }

@media (min-width: 400px) {
  .direction {
    width: 50%;
    display: inline-block; } }

#tflStatus li div.circle {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: inline-block;
  top: 11px;
  position: relative;
  left: -5px; }

div.status {
  margin: 20px;
  line-height: 1.4; }

.name {
  border: 1px solid red;
  display: inline-block;
  width: 90%;
  position: relative;
  left: -20px;
  padding-left: 14px;
  height: 30px;
  background: #f2ebea;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f2ebea 0%, #dc241f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f2ebea), color-stop(100%, #dc241f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f2ebea 0%, #dc241f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f2ebea 0%, #dc241f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #f2ebea 0%, #dc241f 100%);
  /* IE10+ */
  background: linear-gradient(to right, #f2ebea 0%, #dc241f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ebea', endColorstr='#dc241f',GradientType=1 );
  /* IE6-9 */ }

#tflStatus small {
  margin-left: 40px;
  padding: 2em; }
#tflStatus ul {
  padding: 0; }
  #tflStatus ul li.line {
    margin: 1em;
    padding: 0 1em 1em 1em;
    border-radius: 4px; }
    #tflStatus ul li.line.Central {
      border: 1px solid #DC241F; }
    #tflStatus ul li.line.Bakerloo {
      border: 1px solid #894E24; }
    #tflStatus ul li.line.Circle {
      border: 1px solid #FFCE00; }
    #tflStatus ul li.line.District {
      border: 1px solid #007229; }
    #tflStatus ul li.line.HammersmithandCity {
      border: 1px solid #D799AF; }
    #tflStatus ul li.line.Jubilee {
      border: 1px solid #868F98; }
    #tflStatus ul li.line.Metropolitan {
      border: 1px solid #751056; }
    #tflStatus ul li.line.Northern {
      border: 1px solid #000000; }
    #tflStatus ul li.line.Piccadilly {
      border: 1px solid #0019A8; }
    #tflStatus ul li.line.Victoria {
      border: 1px solid #00A0E2; }
    #tflStatus ul li.line.WaterlooandCity {
      border: 1px solid #76D0BD; }
    #tflStatus ul li.line.Overground {
      border: 1px solid #894E24; }
    #tflStatus ul li.line.DLR {
      border: 1px solid #00AFAD; }

.widget li.Overground div.circle, .widget li.Overground div.name {
  background: #894E24; }

.widget li.DLR div.circle, .widget li.DLR div.name {
  background: #00AFAD; }
