@font-face {
  font-family: 'Erbos';
  src: url('/fonts/7LED.ttf'); }

@font-face {
  font-family: 'GreyscaleBasic';
  src: url('/fonts/Greyscale_Basic_Regular.ttf'); }

@font-face {
  font-family: 'london_tubenormal';
  src: url('/fonts/london-tube-webfont.eot');
  src: url('/fonts/london-tube-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/london-tube-webfont.woff') format('woff'), url('/fonts/london-tube-webfont.ttf') format('truetype'), url('/fonts/london-tube-webfont.svg#london_tubenormal') format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  background: #eee;
  font-size: 16px; }
  body .widget {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    margin: 0.5em 0.1em;
    padding: 1em;
    font-family: 'GreyscaleBasic';
    border-radius: 3px;
    background: #fff;
    border: 1px solid #BDBDBD;
    vertical-align: top;
    border-radius: 3px;
    color: #838383;
    position: relative; }
    body .widget h3 {
      font-family: 'london_tubenormal'; }
    body .widget li {
      list-style: none; }
    body .widget h2 {
      margin: 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px; }
    body .widget h3 {
      font-size: 1em; }

@media (min-width: 800px) {
  html body .widget {
    margin: 1em 20%; } }

#nextTrain h2 {
  border-bottom: 0; }
#nextTrain a.change {
  float: right; }
#nextTrain .settings {
  clear: both;
  background: #FFFDFD;
  padding: 0.5em 0.5em;
  height: auto;
  border-bottom: 1px solid #DC241F;
  border-top: 1px solid #DC241F;
  overflow: hidden;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  #nextTrain .settings form {
    margin: 0; }
    #nextTrain .settings form label {
      width: 30%;
      padding: 0.5em;
      font-size: 0.8em;
      font-family: london_tubenormal;
      display: inline-block;
      text-align: right; }
  #nextTrain .settings.hidden {
    height: 0;
    padding: 0 0.5em; }
#nextTrain .noTrains {
  margin-bottom: 0; }
#nextTrain .direction {
  vertical-align: top; }
  #nextTrain .direction ul.trains {
    padding: 0; }
    #nextTrain .direction ul.trains li {
      list-style: none;
      margin: 1em 0; }
      #nextTrain .direction ul.trains li .detail {
        display: none; }
      #nextTrain .direction ul.trains li span.destination {
        font-size: 0.9em; }
      #nextTrain .direction ul.trains li .due-container {
        display: inline-block;
        width: 80px;
        text-align: right; }
        #nextTrain .direction ul.trains li .due-container .due {
          text-align: right;
          margin-right: 10px;
          font-family: 'Erbos';
          display: inline-block;
          line-height: 15px;
          border-right: 1px solid white !important;
          color: #fff;
          background: #6ca062; }
@media (min-width: 550px) {
  #nextTrain a.change {
    position: absolute;
    width: 94%;
    text-align: right;
    text-decoration: none;
    margin-top: -2em; }
  #nextTrain .direction {
    width: 50%;
    display: inline-block; }
  #nextTrain .settings:after {
    transition: border-width 0.4s;
    transition: top 0.4s ease;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #Fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 2.57em;
    left: 91%; }
  #nextTrain .settings:before {
    transition: border-width 0.4s;
    transition: top 0.4s ease;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #DC241F transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: 2.5em;
    left: 91%; }
  #nextTrain .settings.hidden:before, #nextTrain .settings.hidden:after {
    top: 3em;
    border-width: 0; } }

#tflStatus small {
  margin-left: 40px;
  padding: 2em; }
#tflStatus ul {
  padding: 0; }
  #tflStatus ul li.line {
    margin: 20px;
    line-height: 1.4;
    margin: 1em;
    padding: 0 1em 1em 1em;
    border-radius: 4px; }
    #tflStatus ul li.line.Central {
      border: 1px solid #DC241F; }
    #tflStatus ul li.line.Bakerloo {
      border: 1px solid #894E24; }
    #tflStatus ul li.line.Circle {
      border: 1px solid #FFCE00; }
    #tflStatus ul li.line.District {
      border: 1px solid #007229; }
    #tflStatus ul li.line.HammersmithandCity {
      border: 1px solid #D799AF; }
    #tflStatus ul li.line.Jubilee {
      border: 1px solid #868F98; }
    #tflStatus ul li.line.Metropolitan {
      border: 1px solid #751056; }
    #tflStatus ul li.line.Northern {
      border: 1px solid #000000; }
    #tflStatus ul li.line.Piccadilly {
      border: 1px solid #0019A8; }
    #tflStatus ul li.line.Victoria {
      border: 1px solid #00A0E2; }
    #tflStatus ul li.line.WaterlooandCity {
      border: 1px solid #76D0BD; }
    #tflStatus ul li.line.Overground {
      border: 1px solid #e86a10; }
    #tflStatus ul li.line.DLR {
      border: 1px solid #00AFAD; }
