
.trains {

    .holder {
        height: 0;
        transition: all 1s;
    }
    .train {
        opacity: 1;
        max-height: 3em;
        transition-property: height, opacity, margin, padding, top;
        transition-duration: 1s    , 1s     , 1s,     1s     , 1s;
        transition-delay   : 1s    , 0s     , 1s,     1s     , 0;
        &.colapsed {
            height: 0 !important;
            opacity: 0;
            margin: 0;
            padding: 0;
        }
        &.add {
            transition-property: max-height, opacity, margin, padding;
            transition-duration: 1s        , 1s     , 1s    , 1s     ;
            transition-delay   : 0s        , 1s     , 0s    , 0s     ;
            &.added {
                background-color: green;
                max-height: 0;
                overflow: hidden;
                margin: 0;
                padding: 0;
                opacity: 0;
            }
        }
    }
}

