$border-color: rgba(197, 199, 208, 0.83);
$porder-pixels: 2;

@font-face {
  font-family: 'Erbos';
  src: url("/fonts/7LED.ttf");
}

@font-face {
  font-family: 'london_tubenormal';
  src: url("/fonts/london-tube-webfont.eot");
  src: url("/fonts/london-tube-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/london-tube-webfont.woff") format("woff"), url("/fonts/london-tube-webfont.ttf") format("truetype"), url("/fonts/london-tube-webfont.svg#london_tubenormal") format("svg");
  font-weight: normal;
  font-style: normal;
}




.listing, .listing * { box-sizing: border-box; }
.listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: 14px;
}
.listing .direction {
  min-width: 270px;
  position: relative;
  flex: 0 0 50%;
}


@media screen and (max-width: 750px) {
  .listing .direction {
    flex: 0 0 100%;
  }
}

// end flex


body {
  background-color: rgba(221, 77, 77, 0.76);
  font-size: 126px;
}

.error {
  padding: .5em;
  .listing {
    display: none;
  }
  h2 {
      background: #4A70CB;
      color: #fff;
      margin: .5em 0;
      padding: .5em;
  }
  .detail {
    margin: .5em 0;
    padding: .5em;
  }
  hr {
    border: 0;
    border-top: 1px solid #4A70CB;
  }
}

li {
  list-style: none;
}

h2 {
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

html body h3 {
  font-family: 'london_tubenormal';
  margin: 0.2em .5em;
  padding: .2em 0;
  font-size: 2em;
}

#key {
  border: 3px double #333;
  width: 505px;
  height: 275px;
}

.direction {
  vertical-align: top;
  padding: 1em;
  ul.trains {
    list-style: none;
    padding: .5em 0;
    li {
      padding: .3em 0;
    }
    .detail {
      background: #fff;
      font-size: 0.7em;
      margin-left: 80px;
      position: relative;
      top: -3px;
      width:auto;
      display: block;
      display: inline-block;
      color: #A0A9CD;
    }
    span.destination {
      font-size: 1em;
      top: -7px;
      width: 100%;
      color: #4A70CB;
      position: relative;
    }
    .due-container {
      display: inline-block;
      width: 80px;
      text-align: right;
      .due {
        text-align: right;
        font-size: 1.4em;
        margin-right: 10px;
        font-family: 'Erbos';
        display: inline-block;
        line-height: 22px;
        border-right: 1px solid #FCFCFC !important;
        color: #FFFFFF;
        background: #7A9971;
      }
    }
  }
}

#placement {
  border: 2px solid green;
  position: absolute;
  width: 400px;
  height: 3em;
  left: 0em;
  top: 3em;
  z-index: 20000 !important;
  margin-left: 1em;
  display: none;
  &.above {
    top: 2em;
  }
  &.below {
    top: 4em;
  }
}


@media (min-width: 1100px) {
  .direction {
    width: auto;
    min-width: auto;
  }
  body.debug #placement {
    margin: 1em 20%;
  }
  html body #floater {
    display: inline-block;
    margin-left: 20%;
    margin-top: 13em;
  }
}



@import '../../components/floater/floater.scss';
@import '../../components/station-switcher/station-switcher.scss';
@import '../../components/tubes/css/styles.scss';
@import '../../components/train-status/train-status.scss';
@import '../../components/direction/direction.scss';
@import '../../components/train/train.scss';

