body[data-page="station"] {


  ul#central li a { 
    opacity: .1;
  }
  .listing, .listing * { box-sizing: border-box; }
  .listing {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 14px;
  }
  .listing .direction {
    min-width: 270px;
    position: relative;
    flex: 0 0 50%;
  }

  @media screen and (max-width: 750px) {
    .listing .direction {
      flex: 0 0 100%;
    }
  }

  .error {
    padding: .5em;
    .listing {
      display: none;
    }
    h2 {
        background: #4A70CB;
        color: #fff;
        margin: .5em 0;
        padding: .5em;
    }
    .detail {
      margin: .5em 0;
      padding: .5em;
    }
    hr {
      border: 0;
      border-top: 1px solid #4A70CB;
    }
  }

  li {
    list-style: none;
  }

  h2 {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  html body h3 {
    font-family: 'london_tubenormal';
    margin: 0.2em .5em;
    padding: .2em 0;
    font-size: 2em;
  }

  #key {
    border: 3px double #333;
    width: 505px;
    height: 275px;
  }

  .direction {
    vertical-align: top;
    padding: 1em;
    ul.trains {
      list-style: none;
      padding: .5em 0;
      li {
        padding: .3em 0;
      }
      .detail {
        background: #fff;
        font-size: 0.7em;
        margin-left: 80px;
        position: relative;
        top: -3px;
        width:auto;
        display: block;
        display: inline-block;
        color: #A0A9CD;
      }
      span.destination {
        font-size: 1em;
        top: -7px;
        width: 100%;
        color: #4A70CB;
        position: relative;
      }
      .due-container {
        display: inline-block;
        width: 80px;
        text-align: right;
        .due {
          text-align: right;
          font-size: 1.4em;
          margin-right: 10px;
          font-family: 'Erbos';
          display: inline-block;
          line-height: 22px;
          border-right: 1px solid #FCFCFC !important;
          color: #FFFFFF;
          background: #7A9971;
        }
      }
    }
  }


    #placement {
      border: 1px solid black;
      position: absolute;
      width: 400px;
      left: 0em;
      z-index: 20000 !important;
      margin-left: 1em;
      top: 13em;
      margin: 1em;
      height: 2.7em;
      @media (min-width: 800px) {
        margin: auto 20% !important;
      }
      position: absolute;
      z-index: 999 !important;


      &.above {
        top: 2em;
      }
      &.below {
        top: 4em;
      }
    }



  @media (min-width: 800px) {
    .direction {
      width: auto;
      min-width: auto;
    }
    body #placement {
          top: 12em;

          margin: 1em 20% 0 20% !important;

    }
  }



}



@import '../../components/floater/floater.scss';
@import '../../components/station-switcher/station-switcher.scss';
@import '../../components/tubes/css/styles.scss';
@import '../../components/train-status/train-status.scss';
@import '../../components/direction/direction.scss';
@import '../../components/train/train.scss';

