$break1: 800px;
$zoomout: 0px;
&[data-station=EPP] {
    transform: translate3d(-3330px, -28px, $zoomout);
    li.active.roundel .left {
        right: 45px !important;
        top: -8px !important;
    }
}

&[data-station=THB] {
    transform: translate3d(-3286px, -76px, $zoomout);
}

&[data-station=DEB] {
    transform: translate3d(-3323px, -122px, $zoomout);
}

&[data-station=LTN] {
    transform: translate3d(-3313px, -168px, $zoomout);
}

&[data-station=BHL] {
    transform: translate3d(-3280px, -215px, $zoomout);
}

&[data-station=WFD] {
    transform: translate3d(-3307px,-384px, $zoomout);
    li.active.roundel .left {
        right: 45px !important;
        top: -8px !important;
    }
}

&[data-station=SWF] {
    transform: translate3d(-3266px,-440px, $zoomout);
}

&[data-station=SNB] {
    transform: translate3d(-3294px,-495px, $zoomout);
}

&[data-station=LYS] {
    transform: translate3d(-3293px,-658px, $zoomout);
}

&[data-station=LEY] {
    transform: translate3d(-3328px,-782px, $zoomout);
}

&[data-station=SFD] {
    transform: translate3d(-3398px,-903px, $zoomout);
}

&[data-station=MLE] {
    transform: translate3d(-3037px,-1120px, $zoomout);
}

&[data-station=BNG] {
    transform: translate3d(-2925px,-1123px, $zoomout);
}

&[data-station=LST] {
    transform: translate3d(-2604px,-1192px, $zoomout);
}

&[data-station=BNK] {
    transform: translate3d(-2393px,-1356px, $zoomout);
}

li.STP {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -40px;
        left: 24px;
    }
    &.active a {
        left: 83px;
        top: 71px !important;
    }
}

&[data-station=STP] {
    transform: translate3d(-2343px,-1348px, $zoomout);
}



&[data-station=CYL] {
    transform: translate3d(-2215px,-1285px, $zoomout);
}

&[data-station=HOL] {
    transform: translate3d(-2101px,-1369px, $zoomout);
}

li.roundel.HOL {
    a {
        left: 40px;
    }

    &.active a {
        top: 26px;
        left: 11px;
    }
}


&[data-station=TCR] {
    transform: translate3d(-1998px,-1386px, $zoomout);
}

li.TCR a.below {
    left: -61px;
    top: 10px;
}

li.TCR.active a.below {
    left: -56px;
    top: 21px;
}

li.TCR a.below::before,
li.TCR a.below::after {
    left: 117px;
}



&[data-station=OXC] {
    transform: translate3d(-1791px,-1280px, $zoomout);
}

&[data-station=BDS] {
    transform: translate3d(-1663px,-1280px, $zoomout);
}

li.BDS a.above  {
    left: -28px;
}


&[data-station=MAR] {
    transform: translate3d(-1587px,-1385px, $zoomout);
}

&[data-station=LAN] {
    transform: translate3d(-1507px,-1285px, $zoomout);
}

&[data-station=QWY] {
    transform: translate3d(-1438px,-1370px, $zoomout);
}


&[data-station=NHG] {
    transform: translate3d(-1324px,-1295px, $zoomout);
}

li#cen016.NHG a {
    left: 56px;
}

&[data-station=HPK] {
    transform: translate3d(-1249px,-1367px, $zoomout);
}

&[data-station=SBC] {
    transform: translate3d(-1150px,-1295px, $zoomout);
}

&[data-station=WCT] {
    transform: translate3d(-1002px,-1296px, $zoomout);
}

li.roundel.WCT a {
    left: 19px;
}

li.roundel.WCT.active a {
    left: 0;
    @media (min-width: 800px) {
        left: -44px;
    }
}

&[data-station=EAC] {
    transform: translate3d(-913px,-1301px, $zoomout);
}

&[data-station=NAC] {
    transform: translate3d(-871px,-1367px, $zoomout);
}

&[data-station=WAC] {
    transform: translate3d(-701px,-1367px, $zoomout);
}

&[data-station=EBY] {
    transform: translate3d(-370px,-1338px, $zoomout);
}


li.roundel.active.EBY a{
    right: 12px;
    top: -25px;
}

&[data-station=HLN] {
    transform: translate3d(-442px,-1098px, $zoomout);
}

li.HLN, li.PER {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -13px !important;
        right: 22px !important;
    }
    &.active a {
        top: -39px !important;
        right: 36px !important;
    }
}

&[data-station=PER] {
    transform: translate3d(-383px,-1011px, $zoomout);
}

&[data-station=GFD] {
    transform: translate3d(-274px,-911px, $zoomout);
}

li.GFD {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -27px !important;
        right: 34px !important;
    }

    &.active a {
        top: -40px !important;
        right: 47px !important;
    }
}

&[data-station=NHT] {
    transform: translate3d(-254px,-748px, $zoomout);
}

&[data-station=SRP] {
    transform: translate3d(-227px,-632px, $zoomout);
}

li.active.roundel.SRP a {
    right: 11px;
    top: -25px;
}

&[data-station=RUG] {
    transform: translate3d(-209px,-526px, $zoomout);
}

&[data-station=WRP] {
    transform: translate3d(-229px,-302px, $zoomout);
}

li.active.roundel.WRP a {
    right: 10px;
    top: -16px;
    @media (min-width: $break1) {
        top: -20px;
    }
}

&[data-station=ROD] {
    transform: translate3d(-3444px, -246px, $zoomout);
    .ROD {
        &.active.roundel a.above{
            top: -62px;
            left: 6px;
        }
        a {
            br {
                display: none;
            }
        }

    }
}

&[data-station=CHG] {
    transform: translate3d(-3525px, -354px, $zoomout);
}

&[data-station=GRH] {
    transform: translate3d(-3569px,-269px, $zoomout);
}

&[data-station=HAI] {
    transform: translate3d(-3577px, -361px, $zoomout);
    li.active.roundel .left {
        right: 45px !important;
        top: -8px !important;
    }
}

&[data-station=FLP] {
    transform: translate3d(-3586px, -416px, $zoomout);
}

&[data-station=BDE] {
    transform: translate3d(-3558px, -469px, $zoomout);
}

&[data-station=NEP] {
    transform: translate3d(-3541px, -523px, $zoomout);
}

&[data-station=GHL] {
    transform: translate3d(-3593px,-627px, $zoomout);
}

&[data-station=RED] {
    transform: translate3d(-3517px,-560px, $zoomout);
}

&[data-station=WAN] {
    transform: translate3d(-3462px, -645px, $zoomout);
}

li.WAN a {
    z-index: 200;
}
// keeps st pauls visible.
#cen025, #cen026{
    z-index: 999;
}