

&[data-station=EPP] {
    top: -42px;
    left: -3301px;
    @media (min-width: 800px) {
        top: -43px;
        left: -3164px;
    }
}

&[data-station=THB] {
    top: -90px;
    left: -3245px;
    @media (min-width: 800px) {
        top: -90px;
        left: -2955px;
    }
}

&[data-station=DEB] {
    top: -136px;
    left: -3296px;
    @media (min-width: 800px) {
        top: -136px;
        left: -3131px;
    }
}

&[data-station=LTN] {
    top: -182px;
    left: -3281px;
    @media (min-width: 800px) {
        top: -182px;
        left: -3080px;
    }
}

&[data-station=BHL] {
    top: -229px;
    left: -3237px;
    @media (min-width: 800px) {
        top: -229px;
        left: -2924px;
    }
}

&[data-station=WFD] {
    top: -398px;
    left: -3271px;
    @media (min-width: 800px) {
        top: -399px;
        left: -3055px;
    }
}

&[data-station=SWF] {
    top: -454px;
    left: -3221px;
    @media (min-width: 800px) {
        top: -455px;
        left: -2860px;
    }
}

&[data-station=SNB] {
    top: -509px;
    left: -3256px;
    @media (min-width: 800px) {
        top: -509px;
        left: -2993px;
    }
}

&[data-station=LYS] {
    top: -672px;
    left: -3253px;
    @media (min-width: 800px) {
        top: -672px;
        left: -2982px;
    }
}

&[data-station=LEY] {
    top: -796px;
    left: -3301px;
    @media (min-width: 800px) {
        top: -796px;
        left: -3153px;
    }
}

&[data-station=SFD] {
    top: -921px;
    left: -3427px;
    @media (min-width: 800px) {
        top: -922px;
        left: -3455px;
    }
}

&[data-station=MLE] {
    top: -1130px;
    left: -3021px;
    @media (min-width: 800px) {
        top: -1096px;
        left: -2992px;
    }
}


li.roundel.MLE  {
    a {
        left: 7px;
        top: -64px;

    }
    &.active a {
        left: 1px;
        top: -72px;
        @media (min-width: 800px) {
            left: -45px;
            top: -125px;
        }
    }
}



&[data-station=BNG] {
    top: -1132px;
    left: -2909px;
    @media (min-width: 800px) {
        top: -1095px;
        left: -2880px;
    }

}

li.BNG {
    a {
        left: 4px;
    }
    &.active a {
        left: -6px;
        @media (min-width: 800px) {
            left: -52px;
        }
    }
}


&[data-station=LST] {
    top: -1206px;
    left: -2588px;
    @media (min-width: 800px) {
        top: -1168px;
        left: -2557px;
    }
}

&[data-station=BNK] {
    top: -1373px;
    left: -2377px;
    @media (min-width: 800px) {
        top: -1332px;
        left: -2348px;
    }

}

li.roundel.BNK {
    a {
        left: 15px;
        top: -66px;
    }

    &.active a {
        left: 0px;
        @media (min-width: 800px) {
            left: -45px;
            top: -125px;
        }
    }
}

li.STP {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -40px;
        left: 24px;
    }
    &.active a {
        left: 34px;
        top: 0;
        @media (min-width: 800px) {
            top: -10px;
            left: 51px;
        }
    }
}

&[data-station=STP] {
    top: -1365px;
    left: -2354px;
    @media (min-width: 800px) {
        top: -1367px;
        left: -2375px;
    }
}



&[data-station=CYL] {
    top: -1294px;
    left: -2199px;
    @media (min-width: 800px) {
        top: -1256px;
        left: -2171px;

    }
}

&[data-station=HOL] {
    top: -1400px;
    left: -2085px;
    @media (min-width: 800px) {
        top: -1428px;
        left: -2101px;
    }
}

li.roundel.HOL a {
    a {
        left: 40px;
    }

    &.active a {
        left: 10px;
    }
}


&[data-station=TCR] {
    top: -1402px;
    left: -1915px;
    @media (min-width: 800px) {
        top: -1428px;
        left: -1926px;
    }
}

li.TCR a.below {
    left: -61px;
    top: 10px;
}

li.TCR.active a.below {
    left: -56px;
    top: 21px;
    @media (min-width: 800px) {
        left: -61px;
        top: 26px;
    }
}
li.TCR a.below::before,
li.TCR a.below::after {
    left: 117px;
}



&[data-station=OXC] {
    top: -1293px;
    left: -1775px;
    @media (min-width: 800px) {
        top: -1256px;
        left: -1745px;
    }
}


li.OXC.roundel  {
    a.above {
        left: -32px;
    }
    &.active a.above {
        @media (max-width: 800px) {
            left: 0;
        }
    }
}
&[data-station=BDS] {
    top: -1294px;
    left: -1647px;
    @media (min-width: 800px) {
        top: -1256px;
        left: -1617px;
    }
}

li.BDS a.above  {
    left: -28px;
}

li.BDS.active a.above  {
    @media (max-width: 800px) {
        left: 0;
    }
}


&[data-station=MAR] {
    top: -1398px;
    left: -1569px;
    @media (min-width: 800px) {
        top: -1427px;
        left: -1585px;
    }
}

&[data-station=LAN] {
    top: -1294px;
    left: -1491px;
    @media (min-width: 800px) {
        top: -1256px;
        left: -1463px;
    }
}

&[data-station=QWY] {
    top: -1397px;
    left: -1422px;
    @media (min-width: 800px) {
        top: -1427px;
        left: -1437px;
    }
}


&[data-station=NHG] {
    top: -1293px;
    left: -1307px;
    @media (min-width: 800px) {
        top: -1256px;
        left: -1277px;
    }
}

li#cen016.NHG a {
    left: 56px;
}

li#cen016.NHG.active a {
    left: 0;
    @media (min-width: 800px) {
        left: -46px;
    }
}

&[data-station=HPK] {
    top: -1398px;
    left: -1232px;
    @media (min-width: 800px) {
        top: -1427px;
        left: -1248px;
    }
}

&[data-station=SBC] {
    top: -1294px;
    left: -1134px;
    @media (min-width: 800px) {
        top: -1256px;
        left: -1105px;
    }

}

&[data-station=WCT] {
    top: -1293px;
    left: -985px;
    @media (min-width: 800px) {
        top: -1256px;
        left: -958px;
    }
}

li.roundel.WCT a {
    left: 19px;
}

li.roundel.WCT.active a {
    left: 0;
    @media (min-width: 800px) {
        left: -44px;
    }
}

&[data-station=EAC] {
    top: -1294px;
    left: -898px;
    @media (min-width: 800px) {
        top: -1256px;
        left: -869px;
    }

}

&[data-station=NAC] {
    top: -1398px;
    left: -854px;
    @media (min-width: 800px) {
        top: -1427px;
        left: -870px;
    }
}

&[data-station=WAC] {
    top: -1398px;
    left: -684px;
    @media (min-width: 800px) {
        top: -1427px;
        left: -700px;
    }
}

&[data-station=EBY] {
    top: -1357px;
    left: -318px;
    @media (min-width: 800px) {
        top: -1358px;
        left: 33px;
    }
}

&[data-station=HLN] {
    top: -1111px;
    left: -395px;
    @media (min-width: 800px) {
        top: -1114px;
        left: -129px;
    }


}

li.HLN, li.PER {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -13px !important;
        right: 22px !important;
    }
    &.active a {
        top: -47px !important;
        right: 10px !important;
        @media (min-width: 800px) {
            top: -81px !important;
            right: 39px !important;
        }
    }
}

&[data-station=PER] {
    top: -1024px;
    left: -344px;
    @media (min-width: 800px) {
        top: -1027px;
        left: -172px;
    }
}

&[data-station=GFD] {
    top: -926px;
    left: -235px;
    @media (min-width: 800px) {
        top: -929px;
        left: -10px;
    }
}

li.GFD {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -27px !important;
        right: 34px !important;
    }

    &.active a {
        top: -44px !important;
        right: 19px !important;
        @media (min-width: 800px) {
            top: -78px !important;
            right: 47px !important;
        }
    }
}

&[data-station=NHT] {
    top: -762px;
    left: -223px;
    @media (min-width: 800px) {
        top: -762px;
        left: -32px;
    }
}

&[data-station=SRP] {
    top: -650px;
    left: -178px;
    @media (min-width: 800px) {
        top: -652px;
        left: 104px;
    }

}

&[data-station=RUG] {
    top: -540px;
    left: -164px;
    @media (min-width: 800px) {
        top: -540px;
        left: 178px;
    }
}

&[data-station=WRP] {
    top: -321px;
    left: -180px;
    @media (min-width: 800px) {
        top: -322px;
        left: 95px;
    }
}

&[data-station=ROD] {
    top: -260px;
    left: -3429px;
    @media (min-width: 800px) {
        top: -222px;
        left: -3400px;
    }

    .ROD {
        a {
            br {
                display: none;
            }
        }
    }
}

&[data-station=CHG] {
    top: -367px;
    left: -3508px;
    @media (min-width: 800px) {
        top: -396px;
        left: -3523px;
    }
}

&[data-station=GRH] {
    top: -262px;
    left: -3553px;
    @media (min-width: 800px) {
        top: -226px;
        left: -3526px;
    }
}

&[data-station=HAI] {
    top: -375px;
    left: -3544px;
    @media (min-width: 800px) {
        top: -375px;
        left: -3366px;
    }
}

&[data-station=FLP] {
    top: -430px;
    left: -3558px;
    @media (min-width: 800px) {
        top: -430px;
        left: -3411px;
    }
}

&[data-station=BDE] {
    top: -483px;
    left: -3522px;
    @media (min-width: 800px) {
        top: -483px;
        left: -3280px;
    }
}

&[data-station=NEP] {
    top: -537px;
    left: -3502px;
    @media (min-width: 800px) {
        top: -537px;
        left: -3200px;
    }
}

&[data-station=GHL] {
    top: -664px;
    left: -3575px;
    @media (min-width: 800px) {
        top: -688px;
        left: -3592px;
    }
}

&[data-station=RED] {

    top: -554px;
    left: -3501px;
    @media (min-width: 800px) {
        top: -516px;
        left: -3474px;
    }
}

&[data-station=WAN] {
    top: -658px;
    left: -3444px;
    @media (min-width: 800px) {
        top: -687px;
        left: -3460px;
    }
}
// keeps st pauls visible.
#cen025, #cen026{
    z-index: 999;
}