$break1: 800px;

&[data-station=EPP] {
    transform: translate(-3330px, -28px);
    li.active.roundel .left {
        right: 45px !important;
        top: -8px !important;
    }
}

&[data-station=THB] {
    transform: translate(-3286px, -76px);
}

&[data-station=DEB] {
    transform: translate(-3323px, -122px);
}

&[data-station=LTN] {
    transform: translate(-3313px, -168px);
}

&[data-station=BHL] {
    transform: translate(-3280px, -215px);
}

&[data-station=WFD] {
    transform: translate(-3307px,-384px);
    li.active.roundel .left {
        right: 45px !important;
        top: -8px !important;
    }
}

&[data-station=SWF] {
    transform: translate(-3266px,-440px);
}

&[data-station=SNB] {
    transform: translate(-3294px,-495px);
}

&[data-station=LYS] {
    transform: translate(-3293px,-658px);
}

&[data-station=LEY] {
    transform: translate(-3328px,-782px);
}

&[data-station=SFD] {
    transform: translate(-3398px,-903px);
}

&[data-station=MLE] {
    transform: translate(-3037px,-1120px);
}

&[data-station=BNG] {
    transform: translate(-2925px,-1123px);
}

&[data-station=LST] {
    transform: translate(-2604px,-1192px);
}

&[data-station=BNK] {
    transform: translate(-2393px,-1356px);
}

li.STP {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -40px;
        left: 24px;
    }
    &.active a {
        left: 83px;
        top: 71px !important;
    }
}

&[data-station=STP] {
    transform: translate(-2343px,-1348px);
}



&[data-station=CYL] {
    transform: translate(-2215px,-1285px);
}

&[data-station=HOL] {
    transform: translate(-2101px,-1369px);
}

li.roundel.HOL {
    a {
        left: 40px;
    }

    &.active a {
        top: 26px;
        left: 11px;
    }
}


&[data-station=TCR] {
    transform: translate(-1998px,-1386px);
}

li.TCR a.below {
    left: -61px;
    top: 10px;
}

li.TCR.active a.below {
    left: -56px;
    top: 21px;
}

li.TCR a.below::before,
li.TCR a.below::after {
    left: 117px;
}



&[data-station=OXC] {
    transform: translate(-1791px,-1280px);
}

&[data-station=BDS] {
    transform: translate(-1663px,-1280px);
}

li.BDS a.above  {
    left: -28px;
}


&[data-station=MAR] {
    transform: translate(-1587px,-1385px);
}

&[data-station=LAN] {
    transform: translate(-1507px,-1285px);
}

&[data-station=QWY] {
    transform: translate(-1438px,-1370px);
}


&[data-station=NHG] {
    transform: translate(-1324px,-1295px);
}

li#cen016.NHG a {
    left: 56px;
}

&[data-station=HPK] {
    transform: translate(-1249px,-1367px);
}

&[data-station=SBC] {
    transform: translate(-1150px,-1295px);
}

&[data-station=WCT] {
    transform: translate(-1002px,-1296px);
}

li.roundel.WCT a {
    left: 19px;
}

li.roundel.WCT.active a {
    left: 0;
    @media (min-width: 800px) {
        left: -44px;
    }
}

&[data-station=EAC] {
    transform: translate(-913px,-1301px);
}

&[data-station=NAC] {
    transform: translate(-871px,-1367px);
}

&[data-station=WAC] {
    transform: translate(-701px,-1367px);
}

&[data-station=EBY] {
    transform: translate(-370px,-1338px);
}


li.roundel.active.EBY a{
    right: 12px;
    top: -25px;
}

&[data-station=HLN] {
    transform: translate(-442px,-1098px);
}

li.HLN, li.PER {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -13px !important;
        right: 22px !important;
    }
    &.active a {
        top: -39px !important;
        right: 36px !important;
    }
}

&[data-station=PER] {
    transform: translate(-383px,-1011px);
}

&[data-station=GFD] {
    transform: translate(-274px,-911px);
}

li.GFD {
    a {
        position: inherit;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        top: -27px !important;
        right: 34px !important;
    }

    &.active a {
        top: -40px !important;
        right: 47px !important;
    }
}

&[data-station=NHT] {
    transform: translate(-254px,-748px);
}

&[data-station=SRP] {
    transform: translate(-227px,-632px);
}

li.active.roundel.SRP a {
    right: 11px;
    top: -25px;
}

&[data-station=RUG] {
    transform: translate(-209px,-526px);
}

&[data-station=WRP] {
    transform: translate(-229px,-302px);
}

li.active.roundel.WRP a {
    right: 10px;
    top: -16px;
    @media (min-width: $break1) {
        top: -20px;
    }
}

&[data-station=ROD] {
    transform: translate(-3444px, -246px);
    .ROD {
        &.active.roundel a.above{
            top: -62px;
            left: 6px;
        }
        a {
            br {
                display: none;
            }
        }

    }
}

&[data-station=CHG] {
    transform: translate(-3525px, -354px);
}

&[data-station=GRH] {
    transform: translate(-3569px,-269px);
}

&[data-station=HAI] {
    transform: translate(-3577px, -361px);
    li.active.roundel .left {
        right: 45px !important;
        top: -8px !important;
    }
}

&[data-station=FLP] {
    transform: translate(-3586px, -416px);
}

&[data-station=BDE] {
    transform: translate(-3558px, -469px);
}

&[data-station=NEP] {
    transform: translate(-3541px, -523px);
}

&[data-station=GHL] {
    transform: translate(-3593px,-627px);
}

&[data-station=RED] {
    transform: translate(-3517px,-560px);
}

&[data-station=WAN] {
    transform: translate(-3462px, -645px);
}

li.WAN a {
    z-index: 200;
}
// keeps st pauls visible.
#cen025, #cen026{
    z-index: 999;
}