// makes the station name big when the appropriate data attribute is applied.

@mixin large-roundel-li() {

    &.left {
        top: -22px;
        right: 36px;
    }
    &.above {
        left: -8px;
        top: -57px;
    }


    // take account of a roundel in positioning.
    @media (min-width: 800px) {
        &.left {
            top: -42px;
            right: 49px;
        }
        &.right {
            top: -31px;
            left: 50px;

        }
        &.above {
            top: -1.84em;
            left: -7px;
        }
        &.below {
            top: 44px;
            left: -7px;
        }

    }

}

@mixin large-label() {


    @media (min-width: 800px) {

        font-size: 4em;

    }

}