// makes the station name big when the appropriate data attribute is applied.

@mixin large-roundel-li() {
    // take account of a roundel in positioning.
    @media (min-width: 800px) {
        &.left {
            top: -42px;
            right: 49px;
        }
        &.right {
            top: -31px;
            left: 50px;

        }
        &.above {
            top: -1.75em;
            left: -3px;
        }
        &.below {
            top: 44px;
            left: -7px;
        }

    }

}

@mixin large-label() {


    color: #1c3f95;
    cursor: default;
    font-weight: bold;
    height: 1em;
    line-height: 1em;
    opacity: 1;
    //transition-delay: .5sxx;
    white-space: nowrap;
    z-index: 2000 !important;
    background: #fff;
    border: 2px solid #2F4E99;
    box-shadow: rgba(129, 122, 145, 0.84) 0.1em 0.1em 40px;
    border-radius: 5px;
    padding: 15px 25px;
    width: auto;

    @media (min-width: 800px) {

        font-size: 4em;
        &.point::before,
        &.point::after, {
            opacity: 1;
        }

        &.left {
            top: -42px;
            right: 27px;
            &::before {
                right: -16px;
            }
            &::after {
                right: -13px;
            }
        }

        &.right {
            &::before {
                left: -16px;
            }
            &::after {
                left: -13px;
            }
        }

        &.above {
            top: -1.89em;
            left: -14px;
            margin-left: -98px;

            &::before {
                bottom: -15px;
            }
            &::after {
                bottom: -14px;
            }
        }


        &.below {
            top: 25px;
            left: -14px;
            margin-left: -98px;


            &::before {
                top: -14px;
            }
            &::after {
                top: -13px;
            }
        }
    }

    br {
        content: ' ';
        display: inline-block;
        width: .3em;
    }


}