#map-container{
    overflow: visible;
    transition: all 2s ease-out;
    transform: translate3d(0,0,0);
    #piccadilly,
    #metropolitan,
    #district,
    #circle,
    #hammersmith-and-city,
    #bakerloo,
    #victoria,
    #waterloo-and-city,
    #northern,
    #jubilee,
    #overground,
    #dlr,
    #emirates,
    .cablecar-symbol
     {
        opacity: .1;
    }

    .links {
        display: none;
    }
    li {
        a {

            position: absolute;
            text-decoration: none;
            transition-property: background, border,  box-shadow, font-size, left,  margin, padding, top,  width;
            transition-duration: .8s,       .3s,      .8s,        .5s,       .8s,   .8s,    .8s,     .8s,  .8s;
            transition-delay   : .3s,        0,        0,         .3s,       0,     0,      0,       0,    0;
            transform: translate3d(0,0,0);
            color: #4A70CB;
            cursor: hand;
            font-weight: bold;
            border: 3px solid rgba(0,0,0,0);
            height: 1em;
            line-height: 1em;
            opacity: 1 !important;
            white-space: nowrap;
            border-radius: 8px;
            padding: 15px 25px;
            width: auto;
            //z-index: -1;
            // default positioning.
            &.left {
                top: -22px;
                right: -10px;
            }
            &.right {
                top: -14px;
            }
            &.above {
                left: -6px;
                top: -58px;
            }
            &.below {
                left: 3px;
                top: 0px;
            }
        }

        &.roundel a {
            &.left {
                top: -12px;
                right: 13px;
                @media (min-width: 800px) {
                    &.active {
                        right: 20px;
                        top: -.5em;
                    }
                }
            }
            &.above {
                left: 1px;
                top: -59px;

            }
            &.below {
                left: 11px;
                top: 19px;
            }
        }



        // a.active
        a.active{
            background: linear-gradient(#fff 0px, #f4f4f4 10px, #fff 50px);
            border: 3px solid #7A7E8B;
            z-index: 100;

            &.left {
                margin-right: 30px;
            }

            &.right {
                margin-left: 6px;
            }
            &.above {
                top: -69px;
            }

            &.below {
                margin-top: 18px;
            }

            br {
                content: ' ';
                display: inline-block;
                width: .3em;
            }

            @media (min-width: 800px) {
                font-size: 4em;
                box-shadow: rgba(129, 122, 145, 0.84) 0.1em 0.1em 40px;
            }
        }
        .point {
            @import './pointers.scss';
        }

        &.roundel a.hover {
            &.above {
                @media (min-width: 800px) {
                    left: -44px;
                }
            }
            &.below {
                @media (min-width: 800px) {
                    top: 26px;
                }
            }
        }

    }

    .roundel strong,
    .station strong  {
        transition: opacity .3s ease-out;
         opacity: 0;
    }
    .roundel:hover a,
    .station:hover a,
    .roundel:hover strong,
    .station:hover strong {
        opacity: 1;
    }
   //@import './central.scss';
}

@media (min-width: 800px) {
    #placement ,
    #map-container  {
        margin-left: 20%;
    }
}

.roundel a, .station a,
.roundel strong, .station strong{
    font-size: 1em;
}

