#map-container{
    overflow: visible;
    transition: all .8s ease-out;
    transform: translate3d(0,0,0);
    transition-delay: .3s;
    #piccadilly,
    #metropolitan,
    #district,
    #circle,
    #hammersmith-and-city,
    #bakerloo,
    #victoria,
    #waterloo-and-city,
    #northern,
    #jubilee,
    #overground,
    #dlr,
    #emirates,
    .cablecar-symbol
     {
        opacity: .1;
    }

    ul#central li a {
        opacity: .3;
    }

    ul#central li.active a {
        opacity: 0;
    }

    .links {
        display: none;
    }
    li {
        a {
            z-index: 1;
            position: absolute;
            text-decoration: none;
            transition-property: background, border,  box-shadow, font-size, left,  margin, padding, top,  width;
            transition-duration: .8s,       .3s,      .8s,        .7s,       .8s,   .8s,    .8s,     .8s,  .8s;
            transition-delay   :0;
            transition-timing-function: ease-out;
            transform: translate3d(0,0,0);
            color: #4A70CB;
            cursor: hand;
            font-weight: bold;
            border: 3px solid rgba(0,0,0,0);
            height: 1em;
            line-height: 1em;
            white-space: nowrap;
            border-radius: 8px;
            padding: 15px 25px;
            width: auto;
            z-index: 1;
            // default positioning.
            &.left {
                top: -22px;
                right: -10px;
            }
            &.right {
                top: -14px;
            }
            &.above {
                left: -6px;
                top: -58px;
            }
            &.below {
                left: 3px;
                top: 0px;
            }
        }


        &.roundel {
            &.active {
                a {
                    @media (min-width: 800px) {
                        &.left {
                            right: 15px;
                            top: -21px;
                        }
                        &.right {
                            margin-left: 10px;
                            top: -23px;
                        }
                    }
                }
            }
        }
        &.roundel a {
            &.left {
                top: -12px;
                right: 13px;
            }

            &.above {
                left: 1px;
                top: -59px;

            }
            &.below {
                left: 11px;
                top: 19px;
            }
        }

        &.active {
            z-index: 1000 !important;
            a {
                transition-property: background, border,  box-shadow, font-size, left,  margin, padding, top,  width;

                transition-delay   : .4s,       .4s,      .4s,         .4s,       .4s,  .4s,    .5s,     .2s,  .2s;

                background: linear-gradient(#fff 0px, #f4f4f4 10px, #fff 50px);

                border: 2px solid #989FB3;
                z-index: 1000 !important;

                &.left {
                    margin-right: 30px;
                }

                &.right {
                    margin-left: 6px;
                    top: -12px;
                }
                &.above {
                    top: -69px;
                }

                &.below {
                    margin-top: 18px;
                }

                br {
                    content: ' ';
                    display: inline-block;
                    width: .3em;
                }

                @media (min-width: 800px) {
                    font-size: 3em;
                }
                @import './pointers.scss';
            }
        }

        &.roundel.active a {
            &.above {
                @media (min-width: 800px) {
                    position:absolute;
                    top: -101px;
                    left: -43px;
                }
            }
            &.below {
                @media (min-width: 800px) {
                    top: 26px;
                }
            }
        }
    }

    .roundel strong,
    .station strong  {
        transition: opacity .3s ease-out;
         opacity: 0;
    }
    .roundel:hover a,
    .station:hover a,
    .roundel:hover strong,
    .station:hover strong {
        opacity: 1;
    }
   @import './central.scss';
}

@media (min-width: 800px) {
    #placement ,
    #map-container  {
        margin-left: 20%;
    }
}

.roundel a, .station a,
.roundel strong, .station strong{
    font-size: 1em;
}

