
&::before,
&::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  opacity: 0;
  border-color:transparent;
  transition: all .4s ease-out;
}

&.point {
	&::before,
	&::after {
		opacity: 1;
	}
}

&.left {
  &::before,
  &::after {
	  bottom: auto;
	  top: 15px;
	  right: 0;
	  border-width: 6px 0 6px 8px;

  }
  &::before {
	  border-color: transparent $border-color;
  }
  &::after {
	  border-color: transparent #FAFAFA;
  }
  &.point {
  	&::before {
  		right: -8px;
  	}
  	&::after {
  		right: -7px;
  	}
  }
}
&.right {

	&::before,
	&::after {
		bottom: auto;
		top: 40%;
		border-width: 6px 8px 6px  0 ;

	}
	&::before {
		left: -8px;
		border-color: transparent $border-color;
	}
	&::after {
		left: -7px;
		border-color: transparent #FBFBFB;
	}
}

&.above {
	&::before,
	&::after {
		left: 63px;
		bottom: 0;
		border-width: 8px 7px 0;
	}

	&::before {
		border-color: $border-color transparent;
	}
	&::after {
		border-color: #F7F4F7 transparent;
	}

	&.point {
		&::before {
			bottom: -8px;

		}
		&::after {
			bottom: -6px;
		}
	}
}


&.below {
	&::before,
	&::after {
		left: 51px;
		top: -2px;
		border-width: 0 7px 7px;
	}
	&::before {
		top: 0px;
		border-color: $border-color transparent;

	}
	&::after {
		border-color: #FBF9FB transparent;
	}

	&.point::before {
		top: -8px;
	}
	&.point::after {
		top: -7px;
	}
}

