&::before,
&::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  opacity: 0;
  border-color:transparent;
  transition: all .4s ease-out;
}

&.point {
	&::before,
	&::after {
		opacity: 1;
	}
}

&.left {
  &::before,
  &::after {
	  bottom: auto;
	  top: 17px;
	  right: 0;
	  border-width: 6px 0 6px 8px;

  }
  &::before {
	  border-color: transparent $border-color;
  }
  &::after {
	  border-color: transparent #fff;
  }
  &.point {
  	&::before {
  		right: -10px;
  	}
  	&::after {
  		right: -6px;
  	}
  }
}
&.right {
	&::before,
	&::after {
		bottom: auto;
		top: 40%;
		border-width: 6px 8px 6px  0 ;

	}
	&::before {
		left: -10px;
		border-color: transparent $border-color;
	}
	&::after {
		left: -6px;
		border-color: transparent #fff;
	}
}

&.above {

	&::before,
	&::after {
		left: 61px;
		bottom: 0;
		border-width: 7px 7px 0;
	}

	&::before {
		border-color: $border-color transparent;
	}
	&::after {
		border-color: #fff transparent;
	}

	&.point {
		&::before {
			bottom: -9px;

		}
		&::after {
			bottom: -6px;
		}
	}
}


&.below {
	&::before,
	&::after {
		left: 51px;
		top: -2px;
		border-width: 0 7px 7px;
	}
	&::before {
		top: 0px;
		border-color: $border-color transparent;

	}
	&::after {
		border-color: #fff transparent;
	}

	&.point::before {
		top: -10px;
	}
	&.point::after {
		top: -5px;
	}
}


@media (min-width: 800px) {
	&.left {
		position: absolute;
		top: -.67em;
		right: 0px;
		&::before,
		&::after {
		   top: 35%;
		   border-width: 7px 0 7px 10px;
		}

		&.point::before {
			right:-10px;
		}
		&.point::after {
			right:-7px;
		}
	}

	&.right {
		&::before,
		&::after {
			top: 35%;
			left: 0;
			border-width: 10px 16px 10px 0;
		}
		&::before {
			left:-18px;
		}
		&::after {
			left:-13px;
		}
	}

	&.above {
		top: -2em;
		left: -50px;
		&::before,
		&::after {
			left: 100px;
			border-width: 10px 10px 0;
		}
		&.point {
			&::before {
				bottom: -11px;
			}
			&::after {
				bottom: -8px;
			}
		}
	}

	&.below {
	  	top: 8px;

		&::before,
		&::after {
			left: 46px;
			border-width: 0 10px 10px ;
		}
		&.point {
			&::before {
			 	top: -10px;
			}
			&::after{
			 	top: -7px;
			}
		}
	}
}


