
span[data-unit=f] {
    display: none;
}
caption,  tr.humidity, tr.visibility, tr.pressure, tr.wind-direction, tr.windspeed {
    display: none;
}
.windrose-icon.wind-direction-wnw {
  font-size: 8px;
}

table.weather {
  margin: 10px;
  padding: 10px;
}
.hours-1 {
  width:12%;
}
span.hours {
  font-size: 10px;
}
span.mins {
  display: none;
}
.row-title {
  display:none;
}
.sunrise, .sunset {
 font-size: 12px;
 padding: 14px;

 line-height: 30px;
}

.next-day .hours {
  display: none;
}

body {
  font-family: 'GOUDY';

  background-color: #111;
    display: flex;
    margin-left:20px;
}
/*

.settings {
  position: absolute;
  right: 0;
  top: 5px;
  align:right;
  width: 24px;
  height: 24px;
  background-image: url(/cog.png);
  background-repeat: no-repeat;
}*/


#nextTrain {
  width: 1050px;
}

h1 {
  margin: 2.5rem 1rem ;
  padding: 1rem;
  color: rgb(173, 192, 219);;
  background: #fff;
  border-radius: 10px;
}
#widgets {
  margin: 1rem;
  width: 100%;
}

h3 {
  font-size: 1.1em;
  text-align: left;
  margin: 10px 0;
  padding: 0;
}

.widget {
  overflow: hidden;
   border: 1px solid #c9c9c9;
   border-radius: 3px;
   background: linear-gradient(#272727 0%, #121212 50%, #060606 50%, #000000 100%);
border: 1px solid #262626;
border-top-color: #3e3e3e;
background-color: #272727;
border-bottom-color: #181818;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  margin  : 5px;
  color: rgb(131, 131, 131);
  position: relative;
}

.widget#weather {
  width: 500px;
}


.widget.wide {
  display: block;
  position: relative;
  width: auto;
  width: 100%;
}



.widget.wide .direction {
  display: inline-block;
  min-width: 300px;
  vertical-align: top;
  margin: 10px;
}


.widget .destination {

  font-size: 0.9em;
  margin-left: 10px;
}
.widget .detail {
  font-size: 0.5em;
  color: #aaa;
}


.due-container {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.widget h2 {

  font-size: 13px;
line-height: 13px;
text-transform: uppercase;
text-align: center;
color: #575757;
margin-top: 11px;


  padding: 0 0 10px 0;
  margin: 0px;
  padding: 8px;
  border-radius: 3px 3px 0 0 ;
}

.widget.fullscreen {
  width: 50%;
  height: 40%;
  vertical-align: center;
}

.widget ul.trains {
  padding: 0;
  margin: 0;
}



.widget .due {
  text-align:right;

  font-family: Erbos;
  display:inline-block;
  line-height:24px;
  border-right:1px solid black !important;
  color: black;
background: rgb(108, 160, 98);
}



.widget li {
  list-style: none;
  font-size: 2.3em;

  font-weight: bold;
  width: 100%;
  text-align: left;
  margin: 0px;
  line-height: 30px;
}


@font-face {
font-family: 'Erbos';
src:
    local('7LED')
}

@font-face {
font-family: 'GOUDY';
src:
    local('GreyscaleBasic')
}




div.name {
display:inline-block;
  width: 90%;
  line-height: 20px;
  color: #fff;
  left: -10px;
  position: relative;
  padding-left: 5px;
}



#tflStatus  {
  float: right;
}
#tflStatus li div.circle  {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display:inline-block;
  top: 11px;
  position: relative;
  left: -5px;

}



#tflStatus small {
  margin-left: 40px;
}


.widget li.Central div.circle,
.widget li.Central div.name  {
  background: #DC241F;
}

.widget li.Bakerloo div.circle,
.widget li.Bakerloo div.name  {
  background: #894E24;
}

.widget li.Circle div.circle,
.widget li.Circle div.name  {
  background: #FFCE00;
}
.widget li.District div.circle,
.widget li.District div.name  {
  background-color: #007229;
}


.widget li.HammersmithandCity div.circle,
.widget li.HammersmithandCity div.name  {
  background: #D799AF;
}

.widget li.Jubilee div.circle,
.widget li.Jubilee div.name  {
  background: #868F98;
}

.widget li.Metropolitan div.circle,
.widget li.Metropolitan div.name  {
  background: #751056;
}

.widget li.Northern div.circle,
.widget li.Northern div.name  {
  background: #000000;
}

.widget li.Piccadilly div.circle,
.widget li.Piccadilly div.name  {
  background: #0019A8;
}

.widget li.Victoria div.circle,
.widget li.Victoria div.name  {
  background: #00A0E2;
}
.widget li.WaterlooandCity div.circle,
.widget li.WaterlooandCity div.name  {
  background: #76D0BD;
}


.widget li.Overground div.circle,
.widget li.Overground div.name  {
  background: #894E24;
}

.widget li.DLR div.circle,
.widget li.DLR div.name  {
  background: #00AFAD;
}

.value {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
/**
 * flip
 *
 */


/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}



#map {
  height: 200px;
  width: 100%;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img {
    display:none;
}

.gm-style-cc:last-child {
    display: none !important;
}
a[title="Report errors in the road map or imagery to Google"] {
    display: none !important;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
