#nextBus.widget.wide
    h2 Busses from Woodford
    .value
      .direction
        h3 Westbound
        ul.trains
          li
            .due-container
              span.due 1:00
            span.destination Woodford
            span.detail  - At Woodford
          li
            .due-container
              span.due 3:30
            span.destination West Ruislip
            span.detail  - Between Buckhurst Hill and Woodford
          li
            .due-container
              span.due 5:00
            span.destination Northolt
            span.detail  - Between Loughton and Buckhurst Hill
          li
            .due-container
              span.due 8:00
            span.destination West Ruislip
            span.detail  - Between Debden and Loughton
          li
            .due-container
              span.due 15:00
            span.destination West Ruislip
            span.detail  - Between Epping and Theydon Bois
          li
            .due-container
              span.due 16:00
            span.destination West Ruislip
            span.detail  - At Epping
          li
            .due-container
              span.due 21:00
            span.destination Woodford Via Hainault
            span.detail  - Between Gants Hill and Newbury Park
      .direction
        h3 Eastbound
        ul.trains
          li
            .due-container
              span.due 0:30
            span.destination Epping
            span.detail  - Approaching Woodford
          li
            .due-container
              span.due 6:00
            span.destination Epping
            span.detail  - Between Leytonstone and Snaresbrook
          li
            .due-container
              span.due 11:00
            span.destination Epping
            span.detail  - Between Stratford and Leyton
          li
            .due-container
              span.due 15:00
            span.destination Debden
            span.detail  - Between Mile End and Stratford
          li
            .due-container
              span.due 21:00
            span.destination Epping
            span.detail  - Between Liverpool Street and Bethnal Green
          li
            .due-container
              span.due 29:00
            span.destination Epping
            span.detail  - Between Chancery Lane and St. Paul's
 
