#floater {
  overflow:hidden;
  min-height: 60px;
  margin: 10em 1em 1em 1em;
  box-shadow: rgba(129, 122, 145, 0.84) 0 0 0px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background: linear-gradient(#fff 0px, #f2f2f2 5px, rgba(255, 255, 255, .95) 100px);
  vertical-align: top;
  color: #838383;
  width: auto;
  z-index: 2000;
  transition: all .8s ease-in-out;
  position: absolute;
  transition-property: height, width, border, background-color;
  transition-duration: .5s   , 1s   , 1s    , 1s              ;
  transform: translate3d(0,0,0); // enable hardware acc for ipad.
  &.error {
      .container {
        .error {
          opacity: 1;
        }
      }
  }
  .container {
    opacity: 1;
    transition: opacity .25s ease-in;
  }
  &.loading {
    background: url(/ajax-loader.gif) no-repeat center 10em,  linear-gradient(#fff 0px, #f2f2f2 10px, rgba(255, 255, 255, .3) 100px);
    background-position: center;
    border-color: rgba(122, 126, 139, 0.2);
    height: 140px;
    .container {
      opacity: 0;
    }
  }

  .error {
    padding: 1em;
  }
}

@media (min-width: 800px) {
  .page {
    #map-container {
      margin-left: 20% auto;
    }
  }
  html body #floater {
    display: inline-block;
  }
}