

#floater {
  overflow:hidden;
  min-height: 60px;
  margin: 14em 1em 1em 1em;
  border-radius: 4px;
  opacity: 1;
  border: 1px solid $border-color;
  @extend .shade;
  vertical-align: top;
  color: #838383;
  width: auto;
  z-index: 2000;
  position: absolute;
  transition: all .8s ease-in-out;
  transition-property: height, width, border, background-color, opacity, -webkit-filter, background-image, transform;
  transition-duration: .5s   , 1s   , 1s    , 1s              , .3s    , .3s           , .1s, .5s;
  transition-delay:    .5s   , 0    , 0     , 0               , 0s    , 0             , .5s, 0;
  transform: translate3d(0,0,0); // enable hardware acc for ipad.


  .direction {
    transition:  -webkit-filter 500ms linear .5s ease-in-out ;
  }

  @media (min-width: 500px) {
    margin-top: 9em;
  }

  &[data-state="small"] {

    .direction {
      background:rgba(255,255,255,0.8);
      -webkit-filter: blur(4px);

    }
    transform: translate3d(0, -5px,-110px);
    opacity: 0;
  }

  &[data-state="blurred"] {
    .direction {
      background:rgba(255,255,255,0.8);
      -webkit-filter: blur(4px);
    }
  }

  .loading {
    background-image: url(/ajax-loader.gif);
    background-repeat:  no-repeat;
    background-position: center;
    .container {
      opacity: 0;
    }

  }

  &[data-state="error"] {

  }


  &.hide {

  }
  &.error {
      .container {
        .error {
          opacity: 1;
        }
      }
  }
  .container {
    opacity: 1;
    transition: opacity .25s ease-in;
  }
  &.loading {
  }
  .error {
    padding: 1em;
  }
}

@media (min-width: 800px) {
  .page {
    #map-container {
      margin-left: 20% auto;
    }
  }
  html body #floater {
    display: inline-block;
  }
}