

#floater {
  overflow:hidden;
  min-height: 60px;
  margin: 14em 1em 1em 1em;
  box-shadow: rgba(129, 122, 145, 0.84) 0 0 0px;
  border-radius: 4px;
  opacity: 1;
  border: 1px solid $border-color;
  background: linear-gradient(#fff 0px, #f2f2f2 5px, rgba(255, 255, 255, .95) 100px);
  vertical-align: top;
  color: #838383;
  width: auto;
  z-index: 2000;
  transition: all .8s ease-in-out;
  position: absolute;
  transition-property: height, width, border, background-color, opacity, -webkit-filter, background-image;
  transition-duration: .5s   , 1s   , 1s    , 1s              , .3s    , .3s           , .1s;
  transition-delay:    .5s   , 0    , 0     , 0               ,   .1s  , 0             , .5s;
  transform: translate3d(0,0,0); // enable hardware acc for ipad.


  &.hidden {
    -webkit-filter: blur(4px);
    opacity: 0;
  }

  &[data-state="loading"] {
    background-image: url(/ajax-loader.gif);
    background-repeat:  no-repeat;
    background-position: center;
    .container {
      opacity: 0;
    }

  }

  &[data-state="error"] {

  }


  &.hide {

  }
  &.error {
      .container {
        .error {
          opacity: 1;
        }
      }
  }
  .container {
    opacity: 1;
    transition: opacity .25s ease-in;
  }
  &.loading {
  }
  .error {
    padding: 1em;
  }
}

@media (min-width: 800px) {
  .page {
    #map-container {
      margin-left: 20% auto;
    }
  }
  html body #floater {
    display: inline-block;
  }
}