#nextTrain
    //include ./title.jade
    include ./trains.jade
    div.settings
        form(method="get", action="/")
            label(for="stationCode") Station:
            select(name="stationCode", id="stationCode", data-currently-listening=station.code)
                each stationCode, id in nextTrain.stationCodes
                    - var selected = false;
                    if station.code === id
                            - selected = true
                    option(value=id, selected=selected)=stationCode
