
.direction {
  vertical-align: top;
  ul.trains {
    padding: 0;
    li {
      list-style: none;
      margin:  1em 0;

      .detail {
        display: none;
      }
      span.destination {
        font-size: 0.9em;
      }
      .due-container {
        display: inline-block;
        width: 80px;
        text-align: right;
        .due {
          text-align:right;
          margin-right: 10px;
          font-family: 'Erbos';
          display:inline-block;
          line-height:15px;
          border-right:1px solid white !important;
          color: #fff;
          background: rgb(108, 160, 98);
        }
      }
    }
  }
}

@media (min-width: 400px) {
  .direction {
    width: 50%;
    display: inline-block;
  }
}