#nextTrain {
  h2 {
    border-bottom: 0;
  }


  a.change {
    float: right;
  }
  .title ,
  .title  a{
    font-size: .7em;
  }

  .loading {
    height: 200px;
  }
  .trains {
    padding-right: 20px;
  }
  .settings {
    background: rgba(235, 236, 240, 0.81);
    color: #242330;
    padding: 1em;
    border-top: 1px solid #B2B2B6;
    border-radius:  0 0  .3em .3em ;
    height: auto;
    overflow: hidden;
      -webkit-transition: all .8s ease;
         -moz-transition: all .8s ease;
              transition: all .8s ease;
    form {
      margin: 0;
      label {
        padding: .5em;
        font-size: 0.8em;
        font-family: london_tubenormal;
        display: inline-block;
        text-align: right;
      }
      select {
        font-size: 2em;
      }
    }
    &.hidden {
     height: 0;
     padding: 0 .5em;
    }
    text-align: center;
  }

  .noTrains {
    margin-bottom: 0;
  }



  @media (min-width: 550px) {

    a.change {
      position: absolute;
      width: 94%;
      text-align: right;
      text-decoration: none;
      margin-top: -2em;
    }


    .direction {
      display: inline-block;
    }
  }
}
