// modified from csstubemap.co.uk
.map-wrapper(data-station=tubes.currentStationCode)
  section#map-container
    ul#central.line
       li#cen001.roundel.connection.WRP(class=((tubes.currentStationCode === 'WRP') ? 'active': '' ))
          a.rail.left(href='/central/west-ruislip', class=(tubes.currentStationCode === 'WRP') ? ' point' : '') West Ruislip
        li#cen002.route.vertical
        li#cen003.station.RUG(class=((tubes.currentStationCode === 'RUG') ? 'active': '' ))
          a.left.two-lines(href='/central/ruislip-gardens', class=(tubes.currentStationCode === 'RUG') ? ' point' : '')
            | Ruislip
            br
            | Gardens
        li#cen004.roundel.connection.SRP(class=((tubes.currentStationCode === 'SRP') ? 'active': '' ))
          a.rail.left(href='/central/south-ruislip', class=(tubes.currentStationCode === 'SRP') ? ' point' : '') South Ruislip
        li#cen005.station.NHT(class=((tubes.currentStationCode === 'NHT') ? 'active': '' ))
          a.left(href='/central/northolt', class=(tubes.currentStationCode === 'NHT') ? ' point' : '') Northolt
        li#cen006.roundel.connection.rot315.GFD(class=((tubes.currentStationCode === 'GFD') ? 'active': '' ))
          a.rail.left(href='/central/greenford', class=(tubes.currentStationCode === 'GFD') ? ' point' : '') Greenford
        li#cen007.station.rot315.PER(class=((tubes.currentStationCode === 'PER') ? 'active': '' ))
          a.left(href='/central/perivale', class=(tubes.currentStationCode === 'PER') ? ' point' : '') Perivale
        li#cen008.station.rot315.HLN(class=((tubes.currentStationCode === 'HLN') ? 'active': '' ))
          a.left(href='/central/hanger-lane', class=(tubes.currentStationCode === 'HLN') ? ' point' : '') Hanger Lane
        li#cen009.roundel.connection.EBY(class=((tubes.currentStationCode === 'EBY') ? 'active': '' ))
          a.rail.left(href='/central/ealing-broadway', class=(tubes.currentStationCode === 'EBY') ? ' point' : '') Ealing Broadway
        li#cen010.station.vertical.WAC(class=((tubes.currentStationCode === 'WAC') ? 'active': '' ))
          a.below(href='/central/west-acton', class=(tubes.currentStationCode === 'WAC') ? ' point' : '')
            | West
            br
            | Acton
        li#cen011.station.vertical.NAC(class=((tubes.currentStationCode === 'NAC') ? 'active': '' ))
          a.below.boxed(href='/central/north-acton', class=(tubes.currentStationCode === 'NAC') ? ' point' : '')
            | North
            br
            | Acton
        li#cen012.station.vertical.EAC(class=((tubes.currentStationCode === 'EAC') ? 'active': '' ))
          a.above(href='/central/east-acton', class=(tubes.currentStationCode !== 'EAC') || ' point')
            | East
            br
            | Acton
        li#cen013.roundel.connection.WCT(class=((tubes.currentStationCode === 'WCT') ? 'active': '' ))
          a.above(href='/central/white-city', class=(tubes.currentStationCode !== 'WCT') || ' point')
            | White
            br
            | City
        li#cen014.roundel.connection.SBC(class=((tubes.currentStationCode === 'SBC') ? 'active': '' ))
          a.above.rail(href='/central/shepherds-bush', class=(tubes.currentStationCode !== 'SBC') || ' point')
            | Shepherd's
            br
            | Bush
        li#cen015.station.vertical.HPK(class=((tubes.currentStationCode === 'HPK') ? 'active': '' ))
          a.below(href='/central/holland-park', class=(tubes.currentStationCode !== 'HPK') || ' point')
            | Holland
            br
            | Park
        li#cen016.roundel.connection.NHG(class=((tubes.currentStationCode === 'NHG') ? 'active': '' ))
          a.above.boxed(href='/central/notting-hill-gate', class=(tubes.currentStationCode !== 'NHG') || ' point')
            | Notting
            br
            | Hill Gate
        li#cen017.station.vertical.QWY(class=((tubes.currentStationCode === 'QWY') ? 'active': '' ))
          a.below(href='/central/queensway', class=(tubes.currentStationCode !== 'QWY') || ' point') Queensway
        li#cen018.station.vertical.LAN(class=((tubes.currentStationCode === 'LAN') ? 'active': '' ))
          a.above(href='/central/lancaster-gate', class=(tubes.currentStationCode !== 'LAN') || ' point')
            | Lancaster
            br
            | Gate
        li#cen019.station.vertical.MAR(class=((tubes.currentStationCode === 'MAR') ? 'active': '' ))
          a.below(href='/central/marble-arch', class=(tubes.currentStationCode !== 'MAR') || ' point')
            | Marble
            br
            | Arch
        li#cen020.roundel.connection.BDS(class=((tubes.currentStationCode === 'BDS') ? 'active': '' ))
          a.above(href='/central/bond-street', class=(tubes.currentStationCode !== 'BDS') || ' point')
            | Bond
            br
            | Street
        li#cen021.roundel.connection.OXC(class=((tubes.currentStationCode === 'OXC') ? 'active': '' ))
          a.above(href='/central/oxford-circus', class=(tubes.currentStationCode !== 'OXC') || ' point')
            | Oxford
            br
            | Circus
        li#cen022.roundel.connection.TCR(class=((tubes.currentStationCode === 'TCR') ? 'active': '' ))
          a.below(href='/central/tottenham-court-road', class=(tubes.currentStationCode !== 'TCR') || ' point')
            | Tottenham
            br
            | Court
            br
            | Road
        li#cen023.roundel.connection.HOL(class=((tubes.currentStationCode === 'HOL') ? 'active': '' ))
          a.below(href='/central/holborn', class=(tubes.currentStationCode !== 'HOL') || ' point') Holborn
        li#cen024.station.vertical.CYL(class=((tubes.currentStationCode === 'CYL') ? 'active': '' ))
          a.above(href='/central/chancery-lane', class=(tubes.currentStationCode !== 'CYL') || ' point')
            | Chancery
            br
            | Lane
        li#cen025.station.rot315.STP(class=((tubes.currentStationCode === 'STP') ? 'active': '' ))
          a.right(href='/central/st-pauls', class=(tubes.currentStationCode !== 'STP') || ' point') St. Paul's
        li#cen026.roundel.connection.BNK(class=((tubes.currentStationCode === 'BNK') ? 'active': '' ))
          a.above.cross(href='/central/bank', class=(tubes.currentStationCode !== 'BNK') || ' point')
            br
            | Bank
        li#cen027.roundel.connection
        li#cir008.roundel.connection.LST(class=((tubes.currentStationCode === 'LST') ? 'active': '' ))
          a.above.rail(href='/central/liverpool-street')
            | Liverpool
            br
            | Street
  
        li#cen028.station.vertical.BNG(class=((tubes.currentStationCode === 'BNG') ? 'active': '' ))
          a.above(href='/central/bethnal-green', class=(tubes.currentStationCode !== 'BNG') || ' point')
            | Bethnal
            br
            | Green
        li#cen029.roundel.connection.MLE(class=((tubes.currentStationCode === 'MLE') ? 'active': '' ))
          a.above(href='/central/mile-end', class=(tubes.currentStationCode !== 'MLE') || ' point')
            br
            | Mile End
        li#cen030.roundel.disabled.SFD(class=((tubes.currentStationCode === 'SFD') ? 'active': '' ))
          a.rail.right(href='/central/stratford', class=(tubes.currentStationCode !== 'SFD') || ' point') Stratford
        li#cen031.station.LEY(class=((tubes.currentStationCode === 'LEY') ? 'active': '' ))
          a.left(href='/central/leyton', class=(tubes.currentStationCode !== 'LEY') || ' point') Leyton
        li#cen032.station.LYS(class=((tubes.currentStationCode === 'LYS') ? 'active': '' ))
          a.left.boxed(href='/central/leytonstone', class=(tubes.currentStationCode !== 'LYS') || ' point') Leytonstone
        li#cen033.station.SNB(class=((tubes.currentStationCode === 'SNB') ? 'active': '' ))
          a.left(href='/central/snaresbrook', class=(tubes.currentStationCode !== 'SNB') || ' point') Snaresbrook
        li#cen034.station.SWF(class=((tubes.currentStationCode === 'SWF') ? 'active': '' ))
          a.left(href='/central/south-woodford', class=(tubes.currentStationCode !== 'SWF') || ' point') South Woodford
        li#cen035.roundel.disabled.WFD(class=((tubes.currentStationCode === 'WFD') ? 'active': '' ))
          a.active.left(href='/central/woodford', class=(tubes.currentStationCode !== 'WFD') || ' point') Woodford
        li#cen036.station.BHL(class=((tubes.currentStationCode === 'BHL') ? 'active': '' ))
          a.left(href='/central/buckhurst-hill', class=(tubes.currentStationCode !== 'BHL') || ' point') Buckhurst Hill
        li#cen037.station.LTN(class=((tubes.currentStationCode === 'LTN') ? 'active': '' ))
          a.left(href='/central/loughton', class=(tubes.currentStationCode !== 'LTN') || ' point') Loughton
        li#cen038.station.DEB(class=((tubes.currentStationCode === 'DEB') ? 'active': '' ))
          a.left(href='/central/debden', class=(tubes.currentStationCode !== 'DEB') || ' point') Debden
        li#cen039.station.THB(class=((tubes.currentStationCode === 'THB') ? 'active': '' ))
          a.left(href='/central/theydon-bois', class=(tubes.currentStationCode !== 'THB') || ' point') Theydon Bois
        li#cen040.roundel.disabled.EPP(class=((tubes.currentStationCode === 'EPP') ? 'active': '' ))
          a.left(href='/central/epping', class=(tubes.currentStationCode !== 'EPP') || ' point') Epping
        li#cen041.roundel.disabled.ROD(class=((tubes.currentStationCode === 'ROD') ? 'active': '' ))
          a.above(href="/central/roding-valley", class=(tubes.currentStationCode !== 'ROD') || ' point')
              | Roding
              br
              | Valley
        li#cen042.station.vertical.CHG(class=((tubes.currentStationCode === 'CHG') ? 'active': '' ))
          a.below(href='/central/chigwell', class=(tubes.currentStationCode !== 'CHG') || ' point') Chigwell
        li#cen043.station.vertical.GRH(class=((tubes.currentStationCode === 'GRH') ? 'active': '' ))
          a.above(href='/central/grange-hill', class=(tubes.currentStationCode !== 'GRH') || ' point')
            | Grange
            br
            | Hill
        li#cen044.roundel.disabled.HAI(class=((tubes.currentStationCode === 'HAI') ? 'active': '' ))
          a.left(href='/central/hainault', class=(tubes.currentStationCode !== 'HAI') || ' point') Hainault
        li#cen045.station.FLP(class=((tubes.currentStationCode === 'FLP') ? 'active': '' ))
          a.left(href='/central/fairlop', class=(tubes.currentStationCode !== 'FLP') || ' point') Fairlop
        li#cen046.station.BDE(class=((tubes.currentStationCode === 'BDE') ? 'active': '' ))
          a.left(href='/central/barkingside', class=(tubes.currentStationCode !== 'BDE') || ' point') Barkingside
        li#cen047.station.NEP(class=((tubes.currentStationCode === 'NEP') ? 'active': '' ))
          a.left(href='/central/newbury-park', class=(tubes.currentStationCode !== 'NEP') || ' point') Newbury Park
        li#cen048.station.vertical.GHL(class=((tubes.currentStationCode === 'GHL') ? 'active': '' ))
          a.below(href='/central/gants-hill', class=(tubes.currentStationCode !== 'GHL') || ' point')
            | Gants
            br
            | Hill
        li#cen049.station.vertical.RED(class=((tubes.currentStationCode === 'RED') ? 'active': '' ))
          a.above(href='/central/redbridge', class=(tubes.currentStationCode !== 'RED') || ' point')
            br
            | Redbridge
        li#cen050.station.vertical.WAN(class=((tubes.currentStationCode === 'WAN') ? 'active': '' ))
          a.below(href='/central/wanstead', class=(tubes.currentStationCode !== 'WAN') || ' point') Wanstead
        li#cen051.route.horizontal
        li#cen052.route.diagonal
        li#cen053.route.bend45deg.rot90.flipped
        li#cen054.route.bend45deg.rot180
        li#cen055.route.diagonal
        li#cen056.route.bend45deg
        li#cen057.route
        li#cen058.route.diagonal.rot315
        li#cen059.route.bend45deg.rot180
        li#cen060.route.bend45deg.flipped
        li#cen061.route
        li#cen062.route.bend45deg.rot180.flipped
        li#cen063.route.bend45deg.flipped
        li#cen064.route.diagonal.rot315
        li#cen065.route.vertical
        li#cen066.route.bend45deg.rot90
        li#cen067.route.horiztontal
        li#cen068.route.horiztonal
        li#cen069.route.vertical
        li#cen070.route.bend90deg
        li#cen071.route.bend90deg.rot270
        li#cen072.route.bend90deg.rot270
        li#cen073.route.bend90deg.rot90
      ul#piccadilly.line
        li#pic001.roundel.disabled
          strong.below Uxbridge
        li#pic002.roundel.disabled
          strong.above
            br
            | Hillingdon
        li#pic003.station.vertical
          strong.below Ickenham
        li#pic004.station.vertical
          strong.above
            br
            | Ruislip
        li#pic005.station.rot315
          strong.right Ruislip Manor
        li#pic006.station.rot315
          strong.right Eastcote
        li#pic007.roundel.connection.rot315
          strong.left Rayners Lane
        li#pic008.station
          strong.left South Harrow
        li#pic009.station
          strong.left Sudburry Hill
        li#pic010.roundel.disabled
          strong.left Sudbury Town
        li#pic011.station
          strong.left Alperton
        li#pic012.station
          strong.left Park Royal
        li#pic013.station
          strong.left North Ealing
        li#pic014.roundel.connection
          strong.left Ealing Common
        li#pic015.roundel.disabled
          strong.right.above.wide Acton Town
        li#pic016.station.rot45
          strong.left South Ealing
        li#pic017.station.rot45
          strong.left Northfields
        li#pic018.station.rot45
          strong.left Boston Manor
        li#pic019.station.rot45
          strong.left Osterley
        li#pic020.roundel.disabled
          strong.right.below.wide
            br
            | Hounslow East
        li#pic021.station.rot45
          strong.right.below.wide Hounslow Central
        li#pic022.roundel.disabled.navy
          strong.left.above.cross
            | Hounslow
            br
            | West
        li#pic023.station.rot45
          strong.left.boxed Hatton Cross
        li#pic024.roundel.disabled.navy
          strong.left.above
            | Heathrow
            br
            | Terminals 1, 2, 3
        li#pic025.roundel.disabled
          strong.right.plane.navy
            | Heathrow
            br
            | Terminal 4
        li#pic026.roundel.disabled
          strong.right.below.wide
            br
            | Heathrow Terminal 5
        li#pic027.station.vertical
        li#pic028.roundel.disabled.linked
          strong.left.above.wide Hammersmith
        li#pic029.station.vertical
          strong.above
            | Barons
            br
            | Court
        li#pic030.roundel.disabled.navy
          strong.below.boxed
            | Earl's
            br
            | Court
        li#pic031.station.vertical
          strong.above
            | Gloucester
            br
            | Road
        li#pic032.roundel.connection
          strong.below
            | South
            br
            | Kensington
        li#pic033.station.rot45
          strong.left Knightsbridge
        li#pic034.station.rot45
          strong.left Hyde Park Corner
        li#pic035.roundel.disabled.navy
          strong.above.wide
            br
            | Green Park
        li#pic036.roundel.connection
          strong.below
            | Piccadilly
            br
            | Circus
        li#pic037.roundel.connection
          strong.below.right.wide
            br
            | Leicester Square
        li#pic038.station.rot45
          strong.right.below.wide
            br
            | Covent Garden
        li#pic039.station
          strong.left.two-lines
            | Russell
            br
            | Square
        li#pic040.roundel.disabled
          strong.above.rail
            | King's Cross
            br
            | St. Pancras
        li#pic041.roundel.disabled
          strong.above.left.wide Caledonian Road
        li#pic042.station.rot45
          strong.left Holloway Road
        li#pic043.station.rot45
          strong.left Arsenal
        li#pic044.roundel.connection
          strong.below.right.rail Finsbury Park
        li#pic045.station
          strong.left.boxed Manor House
        li#pic046.station
          strong.left Turnpike Lane
        li#pic047.station
          strong.left Wood Green
        li#pic048.station
          strong.left.boxed Bounds Green
        li#pic049.station
          strong.left Arnos Grove
        li#pic050.station
          strong.left Southgate
        li#pic051.roundel.disabled
          strong.right Oakwood
        li#pic052.station
          strong.right Cockfosters
        li#pic053.route
        li#pic054.route.rot45
        li#pic055.route.bend45deg
        li#pic055.route.bend45deg
        li#pic056.route
        li#pic057.route.bend45deg.rot45
        li#pic058.route.bend45deg.rot90.flipped
        li#pic059.route.bend45deg.rot45.flipped
        li#pic060.route.rot45
        li#pic061.route
        li#pic062.route.bend45deg.flipped
        li#pic063.route.rot315
        li#pic064.route.bend45deg.rot180.flipped
        li#pic065.route
        li#pic066.route.bend45deg.flipped
        li#pic067.route.rot315
        li#pic068.route.bend45deg.rot90
        li#pic069.route
        li#pic070.route.bend45deg.rot270
        li#pic071.route.rot315
        li#pic072.route.bend45deg.rot90
        li#pic073.route
        li#pic074.route.rot315
        li#pic075.route.bend45deg.rot180.flipped
        li#pic076.route
        li#pic077.route
        li#pic078.route.chevron
        li#pic079.route.chevron
        li#pic080.route.chevron
        li#pic081.route.bend45deg.rot270
      ul#metropolitan.line
        li#met001.roundel.connection
          strong.below.rail Amersham
        li#met002.roundel.disabled
          strong.above.left
            br
            | Chesham
        li#met003.roundel.disabled.navy
          strong.above.rail
            | Chalfont &
            br
            | Latimer
        li#met004.roundel.disabled.navy
          strong.below.left Chorleywood
        li#met005.station.vertical.rot45
          strong.below.left
            br
            | Rickmansworth
        li#met006.station
          strong.right Watford
        li#met007.station
          strong.right Croxley
        li#met008.station.rot315
          strong.right.boxed Moor Park
        li#met009.station.rot315
          strong.right Northwood
        li#met010.station.rot315
          strong.right
            | Northwood
            br
            | Hills
        li#met011.roundel.disabled.navy
          strong.above.right Pinner
        li#met012.station.rot315
          strong.right North Harrow
        li#met013.station.vertical
          strong.below
            | West
            br
            | Harrow
        li#met014.roundel.disabled
          strong.above.rail
            | Harrow-
            br
            | on-the-Hill
        li#met015.station.vertical
          strong.above
            | Northwick
            br
            | Park
        li#met016.station.vertical
          strong.above
            | Preston
            br
            | Road
        li#met017.roundel.disabled.navy
          strong.left.below
            | Wembley
            br
            | Park
        li#met018.roundel.connection
          strong.right.above.wide Finchley Road
        li#met019.roundel.connection
          strong.above
            | Baker
            br
            | Street
        li#met020.station.vertical
          strong.below
            | Euston
            br
            | Square
        li#met021.station.vertical.rot45
          strong.below.left
            br
            | Barbican
        li#met022.station.vertical
          strong.left Aldgate
        li#met023.route
        li#met024.route.bend45deg
        li#met025.route.rot45
        li#met026.route
        li#met027.route.rot45
        li#met028.route.bend45deg.rot180
        li#met029.route.bend45deg.rot90.flipped
        li#met030.route.bend45deg.rot180
        li#met031.route
        li#met032.route.bend45deg
        li#met033.route.rot45
        li#met034.route.bend45deg.rot180
        li#met035.route
        li#met036.route.bend45deg
        li#met037.route.rot45
        li#met038.route.bend45deg.rot180
        li#met039.route
        li#met040.route.bend45deg
        li#met041.route.rot45
        li#met042.route.bend45deg.rot180
        li#met043.route
        li#met044.route.bend90deg
        li#met045.route
        li#met046.station.vertical
        li#met047.station.rot315
        li#met048.station.rot315
        li#met049.station.vertical
      ul#district.line
        li#dis001.station.vertical
          strong.below
            | Chiswick
            br
            | Park
        li#dis002.station.vertical
          strong.below.boxed.cross
            | Turnham
            br
            | Green
        li#dis003.station.vertical
          strong.below
            | Stamford
            br
            | Brook
        li#dis004.roundel.disabled
        li#dis005.station.vertical
          strong.below
            | West
            br
            | Kensington
        li#dis006.roundel.connection
        li#dis007.roundel.disabled
          strong.left Fulham Broadway
        li#dis008.station
          strong.left Parsons Green
        li#dis009.station
          strong.left Putney Bridge
        li#dis010.station
          strong.left East Putney
        li#dis011.roundel.disabled
          strong.left Southfields
        li#dis012.station
          strong.left Wimbledon Park
        li#dis013.roundel.disabled
          strong.left.rail.tram Wimbledon
        li#dis014.roundel.connection
          strong.below Edgware Road
        li#dis015.roundel.connection
        li#dis016.station
          strong.right Bayswater
        li#dis017.station
          strong.right
            | High Street
            br
            | Kensington
        li#dis018.roundel.disabled
        li#dis019.station.vertical
        li#dis020.roundel.connection
        li#dis021.station.vertical
          strong.below
            | Sloane
            br
            | Square
        li#dis022.roundel.connection
          strong.above.left.rail Victoria
        li#dis023.station.vertical
          strong.above
            | St.James's
            br
            | Park
        li#dis024.roundel.disabled
          strong.below.boat Westminster
        li#dis025.roundel.connection
        li#dis026.station.vertical
          strong.above Temple
        li#dis027.roundel.disabled
          strong.above.left.rail.boat
            br
            | Blackfriars
        li#dis028.station.rot45
          strong.left Mansion House
        li#dis029.roundel.connection
          strong.left.above.rail.wide.cross
            br
            | Cannon Street
        li#dis030.roundel.connection
          strong.left.below.boat
            | Tower
            br
            | Hill
            small.rail
              br
              | Fenchurch Street
        li#dis031.roundel.connection
          strong.left.above
            | Aldgate
            br
            | East
        li#dis032.roundel.connection
          strong.right.below
            br
            | Whitechapel
        li#dis033.station.rot45
          strong.right.wide.below
            br
            | Stepney Green
        li#dis034.roundel.connection
        li#dis035.roundel.connection
          strong.above Bow Road
        li#dis036.station.vertical
          strong.below.boxed
            | Bromley-
            br
            | by-Bow
        li#dis037.roundel.disabled
        li#dis038.station.rot45
          strong.right.wide.below
            br
            | Plaistow
        li#dis039.station.rot45
          strong.right.wide.below
            br
            | Upton Park
        li#dis040.roundel.disabled
          strong.right.below.boxed East Ham
        li#dis041.roundel.disabled
          strong.right.below.rail
            br
            | Barking
        li#dis042.roundel.disabled
          strong.right.below
            br
            | Upney
        li#dis043.station.rot45
          strong.right.wide.below Becontree
        li#dis044.roundel.disabled
          strong.right.below
            | Dagenham
            br
            | Heathway
        li#dis045.station.rot45
          strong.left.above
            | Dagenham
            br
            | East
        li#dis046.roundel.disabled
          strong.right.below
            br
            | Elm Park
        li#dis047.station.rot45
          strong.left.wide.above
            br
            | Hornchurch
        li#dis048.station.rot45
          strong.left.wide.abouve Upminster Bridge
        li#dis049.roundel.disabled
          strong.left.above.rail
            br
            | Upminster
        li#dis050.station.vertical
          strong.below
            | Ravenscourt
            br
            | Park
        li#dis051.station.vertical
        li#dis052.roundel.connection
          strong.right Gunnersbury
        li#dis053.roundel.disabled
          strong.right.boxed Kew Gardens
        li#dis054.roundel.disabled
          strong.right.rail Richmond
        li#dis055.roundel.connection
          strong.below Monument
        li#dis056.route
        li#dis057.route.bend90deg
        li#dis058.route
        li#dis059.route.bend45deg.rot90.flipped
        li#dis060.route.bend45deg.rot180
        li#dis061.route.rot45
        li#dis062.route
        li#dis063.route.bend45deg.flipped
        li#dis064.station.vertical
        li#dis065.route.diagonal.rot315
        li#dis066.route.bend45deg.rot180.flipped
        li#dis067.route
        li#dis068.route.bend45deg.flipped
        li#dis069.route.diagonal.rot315
        li#dis070.route.bend45deg.rot180.flipped
        li#dis071.route
        li#dis072.route.bend45deg.flipped
        li#dis073.route.diagonal.rot315
        li#dis074.route.bend90deg.rot270
        li#dis075.route
        li#dis076.route.bend90deg.rot270
        li#dis077.route
        li#dis078.route.bend90deg.rot90
        li#dis079.route
        li#dis080.route.bend90deg.rot270
        li#dis081.route.bend90deg.rot270
        li#dis082.route
        li#dis083.roundel.disabled
          strong.left.rail
            | Kensington
            br
            | (Olympia)
        li#dis084.route
        li#dis085.route.bend90deg.rot180
        li#dis087.route
        li#dis088.route
        li#dis089.route
        li#dis090.route
        li#dis091.route
        li#dis092.route
        li#dis093.route
        li#dis094.route
        li#dis095.route
        li#dis096.route
        li#dis097.route
        li#dis098.station.vertical
        li#dis099.station.rot45
      ul#circle.line
        li#cir001.station
        li#cir002.station
        li#cir003.station.vertical
        li#cir004.station.vertical
        li#cir005.station.vertical
        li#cir006.station.rot45
        li#cir007.station
        li#cir009.roundel.connection
          strong.below.right.rail
            br
            | Moorgate
        li#cir010.station.rot315
        //
           Barbican 
        li#cir011.roundel.connection
          strong.left.rail
            br
            | Farringdon
        li#cir012.roundel.disabled
        li#cir013.station.vertical
        li#cir014.station.vertical
        li#cir015.roundel.connection
        li#cir016.roundel.connection
        li#cir017.station.rot45
        li#cir018.station.rot45
        li#cir019.station.rot45
          strong.right.below.wide
            br
            | Ladbroke Grove
        li#cir020.station.rot45
          strong.right.below.wide
            br
            br
            | Latimer Road
        li#cir021.roundel.disabled
          strong.left.wide
            br
            | Wood Lane
        li#cir022.station
        li#cir023.station
        li#cir024.roundel.disabled
        li#cir025.route
        li#cir026.route.bend90deg.rot270
        li#cir027.route
        li#cir028.route.bend90deg.rot180
        li#cir029.route
        li#cir030.route.bend45deg.flipped
        li#cir031.route.rot315
        li#cir032.route.bend45deg.rot180.flipped
        li#cir033.route
        li#cir034.route.bend90deg.rot90
        li#cir035.route
        li#cir036.route.bend90deg
        li#cir037.route
        li#cir038.route.bend45deg.rot180
        li#cir039.route.rot45
        li#cir040.route.bend45deg
        li#cir041.route
        li#cir042.route.bend45deg.rot180.flipped
        li#cir043.route.rot315
        li#cir043.route.rot315
        li#cir044.route.bend45deg.rot270
        li#cir045.route
        li#cir046.station.vertical
        li#cir047.station.vertical
      ul#hammersmith-and-city.line
        li#ham001.station
          strong.left.wide Goldhawk Road
        li#ham002.station
          strong.left.wide
            | Shepherd's Bush
            br
            | Market
        li#ham003.station.rot45
          strong.left.wide Westbourne Park
        li#ham004.station.rot45
          strong.left Royal Oak
        li#ham005.station.vertical
          strong.above Great Portland Street
        li#ham006.route
        li#ham007.route.bend45deg.rot270
        li#ham008.route.rot315
        li#ham009.route.bend45deg.rot180.flipped
        li#ham010.route
        li#ham011.route.bend45deg
        li#ham012.route.rot45
        li#ham013.route.bend45deg.rot180
        li#ham014.route
        li#ham015.route.bend90deg
        li#ham016.route
        li#ham017.route.bend45deg.rot90.flipped
        li#ham018.route.rot45
        li#ham019.route.bend90deg.rot90
        li#ham020.route.diagonal.rot315
        li#ham021.route.bend45deg.rot180.flipped
        li#ham022.route
        li#ham023.route.bend45deg.flipped
        li#ham024.route.diagonal.rot315
        li#ham025.station.rot45
        li#ham026.station.rot45
        li#ham027.station.vertical
        li#ham028.station.rot315
      ul#bakerloo.line
        li#bak001.roundel.disabled
          strong.left.rail
            | Harrow &
            br
            | Wealdstone
        li#bak002.station
        li#bak003.station
          strong.left.wide South Kenton
        li#bak004.station
          strong.left.wide North Wembley
        li#bak005.roundel.disabled
          strong.left.wide.rail Wembley Central
        li#bak006.station
          strong.left.wide Stonebridge Park
        li#bak007.station
          strong.left.wide Harlesden
        li#bak008.roundel.disabled
          strong.left.wide.boxed Willesden Junction
        li#bak009.station
        li#bak010.roundel.connection
          strong.right.wide Queen's Park
        li#bak011.station.rot315
          strong.left.wide Kilburn Park
        li#bak012.station.rot315
          strong.left.wide Madia Vale
        li#bak013.station.rot315
          strong.left.wide Warwick Avenue
        li#bak014.roundel.connection
          strong.above.rail
            br
            | Paddington
        li#bak015.station.vertical
          strong.above
            | Edgware
            br
            | Road
        li#bak016.roundel.connection
          strong.above.rail
            br
            | Marylebone
        li#bak017.roundel.connection
        li#bak018.station.rot315
          strong.right Regent's Park
        li#bak019.roundel.connection
          strong.left.rail
            | Charing
            br
            | Cross
        li#bak020.roundel.connection
          strong.right.boat Embankment
        li#bak021.roundel.connection
        li#bak022.station
          strong.right.wide
            | Lambeth
            br
            | North
        li#bak023.roundel.connection
          strong.right.wide.rail.boxed Elephant & Castle
        li#bak024.route
        li#bak025.route.bend45deg.rot90.flipped
        li#bak026.route.rot45
        li#bak027.route.bend45deg.rot180
        li#bak028.route
        li#bak029.route.bend45deg
        li#bak030.route.rot45
        li#bak031.route.bend45deg.rot45
        li#bak032.route
        li#bak033.route.bend45deg.rot90.flipped
        li#bak034.route.rot45
        li#bak035.route.bend45deg.rot45
        li#bak036.route
        li#bak037.route.bend45deg.rot90.flipped
        li#bak038.route.rot45
      ul#victoria.line
        li#vic001.roundel.connection
          strong.below.rail
            | Walthamstow
            br
            | Central
        li#vic002.roundel.connection
          strong.above.right
            | Blackhorse
            br
            | Road
        li#vic003.roundel.disabled
          strong.below.rail
            | Tottenham
            br
            | Hale
        li#vic004.roundel.connection
          strong.above.rail
            | Seven
            br
            | Sisters
        li#vic005.roundel.connection
        li#vic006.roundel.connection
          strong.above.right.rail
            | Highbury &
            br
            | Islington
        li#vic007.roundel.disabled
        li#vic008.roundel.connection
        li#vic009.roundel.connection
          strong.left.wide Warren Street
        li#vic010.station
          strong.left Pimlico
        li#vic011.roundel.connection
          strong.left.below.rail.boat.boxed Vauxhall
        li#vic012.roundel.connection
          strong.right Stockwell
        li#vic013.roundel.disabled.navy
          strong.right.below.rail
            br
            | Brixton
        li#vic014.route
        li#vic015.route.bend45deg.rot180.flipped
        li#vic016.route.rot315
        li#vic017.route.bend45deg.rot270
        li#vic018.route
        li#vic019.route.bend45deg.rot90
        li#vic020.route.rot315
        li#vic021.route.bend45deg.flipped
        li#vic022.route
        li#vic023.route.bend45deg.rot180.flipped
        li#vic024.route.rot315
        li#vic025.route.bend45deg.rot270
        li#vic026.route
        li#vic027.route.bend45deg.rot90.flipped
        li#vic028.route.rot45
      ul#waterloo-and-city.line
        li#wat001.route
        li#wat002.route.bend45deg.flipped
        li#wat003.route.rot315
        li#wat004.route.bend45deg.rot90
        li#wat005.route
      ul#northern.line
        li#nor001.roundel.disabled
          strong.right.wide High Barnet
        li#nor002.station
          strong.right.wide Totteridge & Whetstone
        li#nor003.roundel.disabled
          strong.right.wide Woodside Park
        li#nor004.roundel.disabled
          strong.right.wide West Finchley
        li#nor005.station.rot315
          strong.left.below.wide Mill Hill East
        li#nor006.roundel.disabled
          strong.right.wide Finchley Central
        li#nor007.station
          strong.right.wide East Finchley
        li#nor007b.station
          strong.right.wide Highgate
        li#nor008.station
          strong.right.wide.boxed Archway
        li#nor009.station
          strong.right.wide Tufnell Park
        li#nor010.roundel.connection
          strong.right.wide.rail Kentish Town
        li#nor011.roundel.disabled
          strong.below.left Edgware
        li#nor012.station.rot315
          strong.left.wide Burnt Oak
        li#nor013.station.rot315
          strong.left.wide Colindale
        li#nor014.roundel.disabled
          strong.below.left.wide.boxed Hendon Central
        li#nor015.station.rot315
          strong.left.wide Brend Cross
        li#nor016.roundel.disabled
          strong.below.left.wide Golders Green
        li#nor017.station.rot315
          strong.left.wide.boxed Hampstead
        li#nor018.station.rot315
          strong.left.wide Belsize Park
        li#nor019.station.rot315
          strong.left.wide Chalk Farm
        li#nor020.station
          strong.left.wide.cross Camden Town
        li#nor021.station
          strong.left
            | Mornington
            br
            | Crescent
        li#nor022.roundel.disabled
        li#nor023.station
          strong.left
            | Goodge
            br
            | Street
        li#nor024.roundel.connection
        li#nor025.station.vertical
          strong.below Angel
        li#nor026.roundel.connection
          strong.right.rail Old Street
        li#nor027.roundel.connection
        li#nor028.roundel.disabled
          strong.right.below.rail.boat
            br
            | London
            br
            | Bridge
        li#nor029.station.rot45
          strong.right.below
            br
            | Borough
        li#nor030.station.rot45
          strong.right.below
            br
            | Kennington
        li#nor031.station.rot45
          strong.left Oval
        li#nor032.roundel.connection
          strong.left Clapham North
        li#nor033.station.rot45
          strong.left Clapham Common
        li#nor034.station.rot45
          strong.left.boxed Clapham South
        li#nor035.roundel.connection
          strong.left.above.rail
            br
            | Balham
        li#nor036.station.rot45
          strong.right.below.wide Tooting Bec
        li#nor037.station.rot45
          strong.right.below.wide Tooting Broadway
        li#nor038.station.rot45
          strong.right.below.wide Colliers Wood
        li#nor039.station.rot45
          strong.right.below.wide.boxed South Wimbledon
        li#nor040.roundel.disabled
          strong.right.wide
            br
            | Morden
        li#nor041.route
        li#nor042.route.rot315
        li#nor043.route.bend45deg.rot90
        li#nor044.route.bend45deg.rot45
        li#nor045.route.rot315
        li#nor046.route.rot315
        li#nor047.route.bend45deg.rot45
        li#nor048.route.bend45deg.rot270
        li#nor049.route
        li#nor050.route.bend45deg.rot90.flipped
        li#nor051.route.bend45deg.rot90
        li#nor052.route.bend45deg.rot270
        li#nor053.route.bend45deg.rot270.flipped
        li#nor054.route
        li#nor055.route
        li#nor056.route.rot315
        li#nor057.route
        li#nor058.route.bend90deg.rot180
        li#nor059.route
        li#nor060.route.bend90deg
        li#nor061.route
        li#nor062.route.bend45deg.rot90
        li#nor063.route.rot315
        li#nor064.route.bend45deg.rot90
        li#nor065.station.rot45
      ul#jubilee.line
        li#jub001.roundel.disabled
          strong.right.wide Stanmore
        li#jub002.station
          strong.right.wide Canons Park
        li#jub003.station
          strong.right.wide Queensbury
        li#jub004.roundel.disabled.navy
          strong.right.wide Kingsbury
        li#jub005.roundel.disabled
        li#jub006.station.rot315
          strong.right Neasden
        li#jub007.station.rot315
          strong.right.wide Dollis Hill
        li#jub008.station.rot315
          strong.right.wide.boxed Willesden Green
        li#jub009.roundel.disabled
          strong.right.above.wide Kilburn
        li#jub010.roundel.connection
          strong.right.wide.above.rail West Hampstead
        li#jub011.roundel.connection
        li#jub012.station.rot315
          strong.right.wide Swiss Cottage
        li#jub013.station.rot315
          strong.right.wide St. John's Wood
        li#jub014.roundel.disabled.navy
        li#jub015.roundel.disabled.navy
          strong.left.wide.rail.boat.cross Waterloo
        li#jub016.roundel.disabled.navy
          strong.below Southwark
        li#jub017.roundel.disabled
          strong.below Bermondsey
        li#jub018.roundel.disabled
          strong.below Canada Water
        li#jub019.roundel.disabled.navy
          strong.above.left.cross.wide
            br
            | Canary Wharf
        li#jub020.roundel.disabled.navy
          strong.below.boat.boxed
            | North
            br
            | Greenwich
            small
              | for The O
              em 2
        li#jub021.roundel.disabled.navy
        li#jub022.roundel.disabled.navy
        li#jub023.roundel.disabled.navy
        li#jub024.route
        li#jub025.route.bend45deg.rot90.flipped
        li#jub026.route.rot45
        li#jub027.route.bend45deg.rot45
        li#jub028.route
        li#jub029.route.bend45deg.rot90.flipped
        li#jub030.route.rot45
        li#jub031.route.bend45deg.rot45
        li#jub032.route
        li#jub033.route.bend90deg.rot180.flipped
        li#jub034.route
        li#jub035.route.bend45deg.flipped
        li#jub036.route.rot315
        li#jub037.route.bend45deg.rot180.flipped
        li#jub038.route
        li#jub039.route.bend45deg.flipped
        li#jub040.route.rot315
        li#jub041.route.bend45deg.rot90
        li#jub042.route
      ul#overground.line
        li#ove001.roundel.disabled
          strong.left.wide.rail Watford Junction
        li#ove002.station
          strong.left.wide Watford High Street
        li#ove003.roundel.connection
          strong.left.wide.rail Bushey
        li#ove004.roundel.disabled
          strong.left.wide Carpenders Park
        li#ove005.station
          strong.left.wide Hatch End
        li#ove006.station
          strong.left.wide Headstone Lane
        li#ove007.station
          strong.right.wide Kenton
        li#ove008.station
          strong.right.wide Kensal Green
        li#ove009.station.vertical
          strong.above
            | Kilburn
            br
            | High Road
        li#ove010.station.vertical
          strong.above
            | South
            br
            | Hampstead
        li#ove011.roundel.disabled
          strong.left.rail Euston
        li#ove012.roundel.disabled
          strong.left Acton Central
        li#ove013.roundel.disabled
          strong.left South Acton
        li#ove014.roundel.disabled
        li#ove015.roundel.disabled
        li#ove016.roundel.disabled
          strong.left.rail West Brompton
        li#ove017.roundel.disabled
          strong.right.above
            | Imperial
            br
            | Wharf
        li#ove018.roundel.disabled
          strong.left.below.rail
            | Clapham
            br
            | Junction
        li#ove019.roundel.disabled
        li#ove020.station.vertical
          strong.below
            | Wamdsworth
            br
            | Road
        li#ove021.roundel.connection
          strong.left.wide Clapham High Street
        li#ove022.roundel.connection
          strong.above.rail.wide
            br
            | Denmark Hill
        li#ove023.roundel.connection
          strong.left.above.rail.wide
            br
            | Peckham Rye
        li#ove024.roundel.connection
          strong.left.above.rail.wide
            | Queens Road
            br
            | Peckham
        li#ove025.roundel.connection
          strong.right.rail
            | New Cross
            br
            | Gate
        li#ove026.station
          strong.right.wide Brockley
        li#ove027.station
          strong.right.wide Honor Oak Park
        li#ove028.roundel.disabled
          strong.right Forest Hill
        li#ove029.roundel.disabled
          strong.right.rail Sydenham
        li#ove030.station
          strong.right.wide Penge West
        li#ove031.roundel.disabled
          strong.right Anerley
        li#ove032.roundel.connection
          strong.right.rail Norwood Junction
        li#ove033.roundel.disabled
          strong.right.rail.tram West Croydon
        li#ove034.roundel.connection
          strong.left.rail.boxed Crystal Palace
        li#ove035.roundel.disabled
          strong.right.rail New Cross
        li#ove036.station
          strong.left.rail Surrey Quays
        li#ove037.roundel.disabled
        li#ove038.station
          strong.left Rotherhithe
        li#ove039.station
          strong.right Wapping
        li#ove040.roundel.connection
          strong.right.above Shadwell
        li#ove041.roundel.disabled
          strong.left
            | Shoreditch
            br
            | High Street
        li#ove042.roundel.disabled
          strong.left.boxed Hoxton
        li#ove043.roundel.disabled
          strong.left Haggerston
        li#ove044.roundel.disabled
          strong.left.below.wide Dalston Junction
        li#ove045.roundel.disabled.linked
          strong.below Canonbury
        li#ove046.roundel.disabled
        li#ove047.roundel.disabled
          strong.below
            | Hackney
            br
            | Wick
        li#ove048.roundel.disabled
          strong.below Homerton
        li#ove049.roundel.disabled
          strong.above.right
            | Hackney
            br
            | Central
        li#ove050.station.vertical
          strong.above
            | Dalston
            br
            | Kingsland
        li#ove051.roundel.disabled
        li#ove052.roundel.disabled
        li#ove053.roundel.disabled
          strong.below
            | Caledonian
            br
            | Road &
            | Barnsbury
        li#ove054.roundel.disabled
          strong.left.below
            | Camden
            | Road
        li#ove055.station.rot315
          strong.below.left
            | Kentish
            br
            | Town West
        li#ove056.roundel.disabled
        li#ove057.station.vertical
          strong.above
            | Hampstead
            br
            | Heath
        li#ove058.station.rot45.wide
          strong.left.above
            | Finchley Road
            br
            | & Frognal
        li#ove059.station.vertical
          strong.below Brondesbury
        li#ove060.station.vertical
          strong.above
            | Brondesbury
            br
            | Park
        li#ove061.station.vertical
          strong.above
            | Kensal
            br
            | Rise
        li#ove062.roundel.disabled.linked
          strong.above
            | Gospel
            br
            | Oak
        li#ove063.roundel.disabled
          strong.below.wide.right
            br
            | Upper Holloway
        li#ove064.station.rot45
          strong.left.above
            br
            | Crouch Hill
        li#ove065.roundel.disabled
          strong.above.wide
            | Harringay
            br
            | Green Lanes
        li#ove066.station.rot315
          strong.right South Tottenham
        li#ove067.roundel.disabled
          strong.left.wide.below
            | Walthamstow
            br
            | Queens Road
        li#ove068.station.vertical
          strong.above.wide
            | Leyton
            br
            | Midland Road
        li#ove069.station.vertical
          strong.above
            | Leytonstone
            br
            | High Road
        li#ove070.station.rot315
          strong.left.below.wide Wanstead Park
        li#ove071.station
          strong.left.wide.boxed Woodgrange Park
        li#ove072.route
        li#ove073.route.bend90deg.rot180
        li#ove074.route.hor
        li#ove075.route.bend45deg
        li#ove076.route.rot45.hor
        li#ove077.route
        li#ove078.route.bend45deg.rot270
        li#ove079.route.rot315.hor
        li#ove080.route.bend45deg.rot90
        li#ove081.route
        li#ove082.route.rot315.hor
        li#ove083.route.bend45deg.rot270
        li#ove084.route.bend45deg.rot315
        li#ove085.route.hor
        li#ove086.route.bend45deg
        li#ove087.route.hor.rot315
        li#ove088.route.bend45deg.rot315
        li#ove089.route.hor
        li#ove090.route.bend45deg
        li#ove091.route.rot45.hor
        li#ove092.route.bend45deg.rot180
        li#ove093.route.hor
        li#ove094.route.bend45deg
        li#ove095.route.rot45.hor
        li#ove096.route.bend45deg.rot180
        li#ove097.route.hor
        li#ove098.route.hor
        li#ove099.route.bend45deg
        li#ove100.route.rot45.hor
        li#ove101.route.bend45deg.rot45
        li#ove102.route
        li#ove103.route.hor.rot315
        li#ove105.route
        li#ove106.route.bend45deg.rot135
        li#ove107.route.hor.rot315
        li#ove108.route.bend45deg.rot180
        li#ove109.route.hor
        li#ove110.route.bend45deg
        li#ove111.route.rot45.hor
        li#ove112.route.hor
        li#ove113.route.rot45.hor
        li#ove114.route.bend45deg.rot90
        li#ove115.route
        li#ove116.route.rot45.hor
        li#ove117.route.bend45deg.rot90
        li#ove118.route.bend45deg
        li#ove119.route
        li#ove120.route.hor
        li#ove121.route.hor.rot315
        li#ove122.route.bend45deg
        li#ove123.route.bend45deg.rot315
        li#ove124.route.hor
        li#ove125.route.bend45deg
        li#ove126.route.hor.rot45
        li#ove127.route.bend45deg.rot180
        li#ove128.route.hor
        li#ove129.route.bend45deg
        li#ove130.route.hor.rot45
        li#ove131.route.bend45deg.rot45
        li#ove132.route
        li#ove133.spacer.rot315
        li#ove134.spacer
        li#ove135.spacer
        li#ove136.spacer.rot45
        li#ove137.spacer
        li#ove138.station
        li#ove139.station
        li#ove140.station
        li#ove141.station
        li#ove142.station
      ul#dlr.line
        li#dlr001.roundel.disabled
        li#dlr002.roundel.disabled
        li#dlr003.roundel.disabled
          strong.below.rail Limehouse
        li#dlr004.roundel.disabled
          strong.above
            br
            | Westferry
        li#dlr005.roundel.disabled
          strong.below.right
            br
            | Poplar
        li#dlr006.roundel.disabled
          strong.above
            br
            | Blackwall
        li#dlr007.roundel.disabled
          strong.below.boxed
            | East
            br
            | India
        li#dlr008.roundel.disabled
          strong.above Royal Victoria
        li#dlr009.roundel.disabled
          strong.above.wide.right Custom House for ExCel
        li#dlr010.roundel.disabled
          strong.above.right.wide Prince Regent
        li#dlr011.roundel.disabled
          strong.above.right.wide Royal Albert
        li#dlr012.roundel.disabled
          strong.above.right.wide Backton Park
        li#dlr012a.roundel.disabled
          strong.above.right.wide Cyprus
        li#dlr013.roundel.disabled
          strong.below.left
            | Gallions
            br
            | Reach
        li#dlr014.roundel.disabled
          strong.below.left Beckton
        li#dlr015.roundel.disabled
          strong.above.right
            | West
            br
            | Silvertown
        li#dlr016.roundel.disabled
          strong.below.left.wide Pontoon Dock
        li#dlr017.roundel.disabled
          strong.below.left.plane.wide
            | London
            br
            | City Airport
        li#dlr018.roundel.disabled
          strong.below.left.wide King George V
        li#dlr018b.roundel.disabled
          strong.below.rail
            | Woolwich
            br
            | Arsenal
        li#dlr019.roundel.disabled
          strong.above.right
            | Canning
            br
            | Town
        li#dlr020.roundel.disabled
          strong.right Star Lane
        li#dlr021.roundel.disabled
          strong.right.rail West Ham
        li#dlr022.roundel.disabled
          strong.right
            | Abbey
            br
            | Road
        li#dlr023.roundel.disabled
          strong.right
            | Stratford
            br
            | High Street
        li#dlr024.roundel.disabled
          strong.left.above.rail
            | Stratford
            br
            | International
        li#dlr025.roundel.disabled
          strong.below.boxed
            | Pudding
            br
            | Mill Lane
        li#dlr026.roundel.disabled
          strong.left Bow Church
        li#dlr027.roundel.disabled
          strong.right Devons Road
        li#dlr028.roundel.disabled
          strong.right Langdon Park
        li#dlr029.roundel.disabled
          strong.right All Saints
        li#dlr030.roundel.disabled
          strong.right.cross
            | West
            br
            | India Quay
        li#dlr031.roundel.disabled
          strong.left.cross Heron Quays
        li#dlr032.roundel.disabled
          strong.left South Quays
        li#dlr033.roundel.disabled
          strong.left Crossharbour
        li#dlr034.roundel.disabled
          strong.left Mudchute
        li#dlr035.roundel.disabled
          strong.left Island Gardens
        li#dlr036.roundel.disabled
          strong.right.boat.boxed
            | Cutty Sark for
            br
            | Maritime Greenwich
        li#dlr037.roundel.disabled
          strong.right.rail.boxed Greenwich
        li#dlr038.roundel.disabled
          strong.right.boxed Deptford Bridge
        li#dlr039.roundel.disabled
          strong.right.boxed Elveson Road
        li#dlr040.roundel.disabled
          strong.right.rail.boxed Lewisham
        li#dlr041.roundel.disabled
          strong.below.right
            br
            | Tower
            br
            | Gateway
        li#dlr042.route.hor
        li#dlr043.route.hor.rot45
        li#dlr044.route.hor.rot315
        li#dlr045.route.hor
        li#dlr046.route.hor.rot45
        li#dlr047.route.hor.rot45
        li#dlr048.route
        li#dlr049.route.hor.rot45
        li#dlr050.route.hor.rot315
        li#dlr051.route
        li#dlr052.route.bend45deg.rot45
        li#dlr053.route.bend45deg
        li#dlr054.route.bend45deg.rot315
        li#dlr055.route.bend90deg
        li#dlr056
        li#dlr057.route.bend90deg
        li#dlr058.spacer
        li#dlr059.spacer
        li#dlr060.spacer.rot90
        li#dlr061.spacer.rot45
        li#dlr062.route.bend90deg.rot180
        li#dlr063.route.bend90deg.rot270
        li#dlr064.spacer.rot45
        li#dlr065.spacer.rot45
        li#dlr066.spacer
        li#dlr067.spacer
      ul#emirates.line
        li#emi001.route.hor.rot315
        li#emi002
        li#emi003
        li#emi004
        li#emi005
        li#emi006
        li#emi007
        li#emi008.route.hor.rot315
        li#emi009.route.hor
        li#emi010.route.hor
        li#emi011.route.hor
        li#emi012.route.hor
        li#emi013.spacer
        li#emi014.spacer
        li#emi015.roundel.disabled.navy
          strong.below.right.cross
            | Emirates
            br
            | Royal Docks
        li#emi016.roundel.disabled.navy
          strong.below.cross
            | Emirates
            br
            | Greenwich
            br
            | Peninsula
      ul.cablecar-symbol
        li.body
        li.left
        li.right
        li.window1
        li.window2
        li.wire
      ul.links
        li#lin001
          strong.right-stop
        li#lin002.rot315
          strong.right-stop
          strong.left-stop
        li#lin003.rot315
        li#lin004.rot90
          strong.right-stop
          strong.left-stop
        li#lin005.rot45
          strong.right-stop
          strong.centre-stop
          strong.left-stop
        li#lin006.rot45
          strong.left-stop
        li#lin007.rot315
          strong.left-stop
        li#lin008.rot315
          strong.right-stop
          strong.left-stop
        li#lin009.rot90
        li#lin010.rot90
          strong.right-stop
          strong.left-stop
        li#lin011.rot90
          strong.right-stop
          strong.left-stop
        li#lin012.rot315
          strong.left-stop
        li#lin013.rot90
        li#lin014
        li#lin015.rot45
        li#lin016.rot315
        li#lin017.rot45
          strong.right-stop
          strong.left-stop
          strong.centre-stop
        li#lin018.rot45
          strong.right-stop
        li#lin019.rot315
        li#lin020.rot45
        li#lin021.rot45
          strong.right-stop
          strong.left-stop
        li#lin022
          strong.right-stop
          strong.left-stop
        li#lin023.rot90
          strong.right-stop
          strong.left-stop
        li#lin024.rot90
        li#lin025.rot45
          strong.right-stop
        li#lin026.rot45
          strong.right-stop
          strong.left-stop
        li#lin027
          strong.right-stop
        li#lin028.rot90
          strong.right-stop
          strong.left-stop
        li#lin029.rot45
          strong.right-stop
        li#lin030
        li#lin031.rot90
        li#lin032
          strong.right-stop
        ul
