
form.search {
    border-radius: 2px;
    transition: all 1s;

    select {
     //   width: 180px;
    }
    input[type='submit'] {
        margin-right: 5px;
        background: #fff;
        border-radius: 2px;
    }
    select,
    input[type='submit'] {
        height: 30px;
        font-family: london_tubenormal !important;
        font-weight: normal;
        font-size: 0.7em;
        color: #616776;
        border: 1px solid #B8B8B8;
    }
}