form.search(method="get", action="/search")




    select(name="station")
        each station in stationCodes
            option(value=station.slug, data-code=str)=station.name
    //input(placeholder='Search Term')
    input(type='submit' value='Search')
    //a.search Search
