
#tflStatus  {
  small {
    margin-left: 40px;
    padding: 2em;
  }
  ul {
    padding: 0;
    li.line {
      margin: 20px;
      line-height: 1.4;
      margin: 1em;
      padding: 0 1em 1em 1em;
      border-radius: 4px;
      &.Central {
        border: 1px solid #DC241F;
      }
      &.Bakerloo {
        border: 1px solid #894E24; 
      }
      &.Circle {
        border: 1px solid #FFCE00; 
      }
      &.District {
        border: 1px solid #007229; 
      } 
      &.HammersmithandCity {
        border: 1px solid #D799AF; 
      }
      &.Jubilee {
        border: 1px solid #868F98; 
      }
      &.Metropolitan {
        border: 1px solid #751056; 
      }
      &.Northern {
        border: 1px solid #000000; 
      }
      &.Piccadilly {
        border: 1px solid #0019A8; 
      }
      &.Victoria {
        border: 1px solid #00A0E2; 
      }
      &.WaterlooandCity {
        border: 1px solid #76D0BD; 
      }   
      &.Overground {
        border: 1px solid red; 
      }  
      &.DLR {
        border: 1px solid #00AFAD; 
      }  
    }
  }
}