#tflStatus.widget.wide
    h2 Tube Status
    ul
      - count = 0;
      each status in tflStatus
          if status.StatusDetails!==''
              - var regex = new RegExp(' ', "g")
              li(class='line '+status.Line.Name.replace(regex, ''))
                h3=status.Line.Name
                div=status.StatusDetails
                - count++
      if count === 0
          div All lines operational.