.settings form {
    font-size: 0.9em;
    background: #fff;
    font-weight: normal;
    
    border-top: 1px solid #eee;
    padding: 1em 0;
    label {
        padding: .3em;
    }
}

@import "lib/_selectize.scss";
@import "lib/selectize_overrides.scss";

