.settings  {
    position: relative;
    transition-property: top,  height;
    transition-duration: 1s;
    top: 1.2em;
    height: 2em;
    &.hide {
        height: 0;
        top: -7em;
    }


    margin: 1em;
    form {
        font-size: 0.9em;
        background: #fff;
        font-weight: normal;

        label {
            padding: .3em;
        }
    }
}



@import "lib/_selectize.scss";
@import "lib/selectize_overrides.scss";



