.settings form {
        text-align: center;
        font-size: 0.9em;
        position: fixed;
        bottom: 0;
        background: #fff;
        font-weight: normal;
        width: 100%;
        border-top: 1px solid #eee;
        padding: 1em 0;
        label {
            padding: .3em;
        }
}
