div.settings
    form(method="get", action="/")
        label(for="stationCode") Station:
        - currentlyListening =  '';
        if station
            - currentlyListening = station.code;
        select(name="stationCode", id="stationCode", data-currently-listening=currentlyListening, placeholder='Please select...')
            each station in stationCodes
                option(value=station.slug)=station.name
