body[data-page="about"] {

    div.about {
        h3,
        p {
            padding: 1em;
            font-size: 1em;

        }
        a {
            font-size: 1em;
        }
        h3 {
            margin: 1em;
        }
    }
    .map-wrapper {
        opacity: 0;
    }

}
