div.about
    #floater
        div.container
            h3 About
            p
                |This site was made by <a href="http://simonmcmanus.com">Simon McManus</a>.
            p
                |Big thanks to <a href="http://www.johngalantini.com/">John Galantini</a> for making this all possible with <a href="http://csstubemap.co.uk">csstubemap.co.uk</a>.
            p
                |The source code is available at <a href="http://github.com/simonmcmanus">http://github.com/simonmcmanus</a>
