head
    title=title || 'next-tube.london'
    link(rel="stylesheet", type="text/css", href="/pages/css/style.css")
    meta(name="viewport", content="user-scalable = no")
body
    .page(id=pageId)
        include ../components/header/header.jade
        #content
            != body
        #placement
    div.clear
    include ../components/tubes/tubes.jade
    script(src='/socket.io/socket.io.js')
    script(src='/pages/js/shared.js')
    script(src='/libs/selectize.js')


